

{% extends 'base.html.twig' %}

   {% block title %}   
           <title> Account </title>
           {% endblock %}

{% block body %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">



<div class="container">

<div class="row flex-lg-nowrap">
 
  
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                   <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"> {{app.user.username}} </h4> 
                     <p class="mb-0">{{app.user.email}}</p>
                    <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                    <div class="mt-2">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                      </button>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">Client</span>
                    <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="#" class="active nav-link">Settings</a></li>
                
              </ul>
              
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                 
                    <div class="row">
                      <div class="col">



                      {# {{form(passForm)}} #}


{# 
        {{form_start(passForm,{'attr':{'novalidate':'novalidate'}} )}}
      
        <div>
        {{form_row(passForm.password,{'attr':{'placeholder':'.....'}})  }}
        </div>
        <div>
        {{form_row(passForm.confirm_password,{'attr':{'placeholder':'....'}})  }}
        </div>
       
{{form_end(passForm)}} #}
     
                         <form method="post">  
                        {# <div class="row">
                  


                          <div class="col">
                            <div class="form-group">
                              <label for="oldPassword" >Current Password</label>
                              <input class="form-control" type="password" name="oldPassword"  >
                      
                            </div>
                          </div>
                        </div> #}
                        {% for message in app.flashes('message') %}
 <div class="col-x54">
  <div class="p-3 my-2 rounded-2 success">{{message}}  </div>
  </div>
{% endfor %}
                          <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="pass"> New Password </label>
                             <input type="password"  id="pass" name="pass" minlength="4" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                           
                                <label for="pass2"> Confirm Password </label>
                       <input type="password" id="pass2" name="pass2" class="form-control">
                            </div>
                          </div>
                        </div>
                       
                        <div class="row">
                          <div class="col mb-5">
                            <div class="form-group">
                                 <button  >Change</button>
                            </div>
                          </div>
                        </div>  
                          </form> 
                      </div>
                    </div>
                    {# <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" placeholder="••••••"></div>
                          </div>
                        </div>
                      </div> #}
                      {# <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b>Keeping in Touch</b></div>
                        <div class="row">
                          <div class="col">
                            <label>Email Notifications</label>
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                <label class="custom-control-label" for="notifications-news">Newsletter</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> #}
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <a  href="{{path('account')}}">Go Back</a>
                      </div>
                    </div>
                  
                  

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>


<style type="text/css">
body{
    margin-top:20px;
    background:#f8f8f8
}
</style>

<script type="text/javascript">

</script>
{% endblock %}

              {# <div class="tab-content pt-3">
                <div class="tab-pane active">
                      <form method="post">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                     
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                             <label for="pass"> New Password </label>
                             <input type="password" id="pass" name="pass" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                             <label for="pass2"> Confirm Password </label>
                       <input type="password" id="pass2" name="pass2" class="form-control">

                            </div>
                          </div>
                        </div>
                        <button class="btn blue"> Change </button>
                    
            
                       
                       
                      </div>
                    </div>
                        </form>
            #}
                  