{% extends 'base.html.twig' %}

{% block title %}

    <title>
        test
    </title>

{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>

 
<style>
    body {
  background: aliceblue;
}

.gtco-testimonials {
  position: relative;
  margin-top: 30px;

  h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }

  .owl-stage-outer {
    padding: 30px 0;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    text-align: center;

    span {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      border: 2px solid #01b0f8;
      margin: 0 5px;
    }

    .active {
      box-shadow: none;

      span {
        background: #01b0f8;
        box-shadow: none;
        height: 12px;
        width: 12px;
        margin-bottom: -1px;
      }
    }
  }

  .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;

    .card-img-top {
      max-width: 100px;
      border-radius: 50%;
      margin: 15px auto 0;
      box-shadow: 0 8px 20px -4px #95abbb;
      width: 100px;
      height: 100px;
    }

    h5 {
      color: #01b0f8;
      font-size: 21px;
      line-height: 1.3;

      span {
        font-size: 18px;
        color: #666666;
      }
    }

    p {
      font-size: 18px;
      color: #555;
      padding-bottom: 15px;
    }
  }

  .active {
    opacity: 0.5;
    transition: all 0.3s;
  }

  .center {
    opacity: 1;

    h5 {
      font-size: 24px;

      span {
        font-size: 20px;
      }
    }

    .card-img-top {
      max-width: 100%;
      height: 120px;
      width: 120px;
    }
  }
}

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}

.owl-carousel {
  .owl-nav button {
    &.owl-next, &.owl-prev {
      outline: 0;
    }
  }

  button.owl-dot {
    outline: 0;
  }
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 


{% endblock %}
     

{% block body %}


<body>


<style>
.img_producto {
     
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease-out;
}

.img_producto_container { 
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  margin-top : -20px ; 
}

</style>
 

{% for produit in produits %}
<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    {% if produit.modelProd %}
        {{produit.modelProd | raw   }}
    {% else %}
        <div class="img_producto_container" data-scale="1.6">
            <img alt="main product photo" class="gallery-placeholder__image img_producto" src="{{produit.imageProd}}"/>
        </div>
    {% endif %}
</div>



<script>
$(".img_producto_container")
  // tile mouse actions
  .on("mouseover", function() {
    $(this)
      .children(".img_producto")
      .css({ transform: "scale(" + $(this).attr("data-scale") + ")" });
  })
  .on("mouseout", function() {
    $(this)
      .children(".img_producto")
      .css({ transform: "scale(1)" });
  })
  .on("mousemove", function(e) {
    $(this)
      .children(".img_producto")
      .css({
        "transform-origin":
          ((e.pageX - $(this).offset().left) / $(this).width()) * 100 +
          "% " +
          ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +
          "%"
      });
  });


</script>

<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": {"fullscreenzoom":"20","top":"","left":"","width":"","height":"","eventType":"hover","enabled":false,"mode":"outside"},
                "data": [{"thumb":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/e804cf75cbdba2f6278fdcc13bb8ca64\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","img":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/0fbc86faa12d44b416a5a8862d2c9463\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","full":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/ae75e54f4ec477b191a1ba5e8e5b0aa3\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","caption":"Anzo \u2013 LED Headlights Gauge Kit","position":"1","isMain":true,"type":"image","videoUrl":null},{"thumb":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/e804cf75cbdba2f6278fdcc13bb8ca64\/a\/n\/anzo_led_headlights_gauge_kit_2_1.jpg","img":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/0fbc86faa12d44b416a5a8862d2c9463\/a\/n\/anzo_led_headlights_gauge_kit_2_1.jpg","full":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/ae75e54f4ec477b191a1ba5e8e5b0aa3\/a\/n\/anzo_led_headlights_gauge_kit_2_1.jpg","caption":"Anzo \u2013 LED Headlights Gauge Kit","position":"2","isMain":false,"type":"image","videoUrl":null},{"thumb":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/e804cf75cbdba2f6278fdcc13bb8ca64\/b\/o\/bosal_catalytic_converter_gauge_kit_1.jpg","img":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/0fbc86faa12d44b416a5a8862d2c9463\/b\/o\/bosal_catalytic_converter_gauge_kit_1.jpg","full":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/ae75e54f4ec477b191a1ba5e8e5b0aa3\/b\/o\/bosal_catalytic_converter_gauge_kit_1.jpg","caption":"Anzo \u2013 LED Headlights Gauge Kit","position":"3","isMain":false,"type":"image","videoUrl":null},{"thumb":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/e804cf75cbdba2f6278fdcc13bb8ca64\/b\/o\/bosal_catalytic_converter_gauge_kit_2.jpg","img":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/0fbc86faa12d44b416a5a8862d2c9463\/b\/o\/bosal_catalytic_converter_gauge_kit_2.jpg","full":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/ae75e54f4ec477b191a1ba5e8e5b0aa3\/b\/o\/bosal_catalytic_converter_gauge_kit_2.jpg","caption":"Anzo \u2013 LED Headlights Gauge Kit","position":"4","isMain":false,"type":"image","videoUrl":null}],
                "options": {"nav":"thumbs","loop":true,"keyboard":true,"arrows":true,"allowfullscreen":true,"showCaption":false,"width":600,"thumbwidth":90,"thumbheight":90,"height":600,"transitionduration":500,"transition":"slide","navarrows":true,"navtype":"slides","navdir":"vertical"},
                "fullscreen": {"nav":"thumbs","loop":true,"navdir":"vertical","navarrows":false,"navtype":"slides","arrows":false,"showCaption":false,"transitionduration":500,"transition":"dissolve"},
                 "breakpoints": {"mobile":{"conditions":{"max-width":"767px"},"options":{"options":{"nav":"dots"}}}}            }
        }
    }
</script>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "Magento_ProductVideo/js/fotorama-add-video-events": {
                "videoData": [{"mediaType":"image","videoUrl":null,"isBase":true},{"mediaType":"image","videoUrl":null,"isBase":false},{"mediaType":"image","videoUrl":null,"isBase":false},{"mediaType":"image","videoUrl":null,"isBase":false}],
                "videoSettings": [{"playIfBase":"0","showRelated":"0","videoAutoRestart":"0"}],
                "optionsVideoData": []            }
        }
    }
</script>
<div class="action-skip-wrapper"><a class="action skip gallery-prev-area" href="#gallery-prev-area">
    <span>
        Skip to the beginning of the images gallery    </span>
</a>
</div><a id="gallery-next-area" tabindex="-1"></a>
</div><div class="product-info-main"><div class="breadcrumbs"></div>
<script type="text/x-magento-init">
    {
        ".breadcrumbs": {
            "breadcrumbs": {"categoryUrlSuffix":".html","useCategoryPathInUrl":0,"product":"Anzo \u2013 LED Headlights Gauge Kit"}        }
    }
</script>









<div class="page-title-wrapper&#x20;product">

    <h1 class="page-title">  
        <span class="base" data-ui-id="page-title-wrapper" itemprop="name">
         
            {{ produit.nomProd }}
        
        </span>    
    </h1>

    </div>
        <div class="product-reviews-summary" itemscope itemtype="http://schema.org/AggregateRating">
            <div class="rating-summary">
                <span class="label"><span>Rating:</span></span>
                <div class="rating-result" title="100%">
                    {% if avis|length != 0 %}
                        {% set avg = 0 %}
                        {% for avi in avis %}
                            {% set avg = avg + avi.ratingAvis %}
                        {% endfor %}
                        {% set avd = avg / (avis|length) * 20 %}
                        {% set avd =  avd | round %}
                    {% else %}
                        {% set avd = 100 %}
                    {% endif %}
                    <span style="width:{{ avd }}%">
                    </span>
                </div>
            </div>
            
            <div class="reviews-actions">
                <a class="action view" href="anzo-led-headlights-gauge-kit.html#reviews">
                    <span itemscope itemtype="https://schema.org/reviewCount">{{avis|length}}</span>&nbsp;
                    <span>Reviews</span>
                </a>
                <a class="action add" href="#review-form">Add Your Review</a>
             </div>
        </div>
        
        <div class="product-info-price">
            <div class="price-box price-final_price" data-role="priceBox" data-product-id="92" data-price-box="product-id-92">
                <span class="special-price"> 
                    <span class="price-container price-final_price&#x20;tax&#x20;weee">
                        <span class="price-label">Special Price</span>
                            <span id="product-price-92" data-price-amount="100" data-price-type="finalPrice" class="price-wrapper ">
                                <span class="price" >

                                {% if  produit.categorieProd.nomCategorie != "Crypto" %}    
                                    {% if produit.promoProd > 0 %}
                                    <span style="display:none ; " id="price_old">{{produit.promoProd}}</span>
                                        <h3>
                                            <span id="price_conversion">
                                                {{produit.promoProd}}  
                                            </span> 
                                            <span id="currency_abrev"> TND</span>
                                        </h3>
                                        
                                    {% else %}
                                    <span style="display:none ; " id="price_old">{{produit.prixProd}}</span>
                                         <h3>
                                            <span id="price_conversion">
                                                {{produit.prixProd}}  
                                            </span> 
                                            <span id="currency_abrev"> TND</span>
                                        </h3> 
                                    {% endif %}
                                    </span>
                                {% else %}
                                    {% if produit.promoProd > 0 %}
                                    <span style="display:none ; " id="price_old">{{produit.promoProd}}</span>
                                        <h3>
                                            <span id="price_conversion">
                                                {{produit.promoProd}}  
                                            </span> 
                                            <span id="currency_abrev"> ETH</span>
                                        </h3>
                                        
                                    {% else %}
                                    <span style="display:none ; " id="price_old">{{produit.prixProd}}</span>
                                         <h3>
                                            <span id="price_conversion">
                                                {{produit.prixProd}}  
                                            </span> 
                                            <span id="currency_abrev"> ETH</span>
                                        </h3>
                                    
                                    {% endif %}
                                    </span>


                                {% endif %}  
                                </span>

                            </span>
                        </span>
                        <span class="old-price">
                            <span class="price-container price-final_price&#x20;tax&#x20;weee">
                                <span class="price-label">Regular Price</span>
                            <span id="old-price-92" data-price-amount="300" data-price-type="oldPrice" class="price-wrapper ">
                                <span class="price">
                                    {% if  produit.categorieProd.nomCategorie != "Crypto" %} 
                                        {% if produit.promoProd > 0 %}
                                               {{produit.prixProd}} DT 
                                        {% endif %} 
                                    {% else %}
                                        {% if produit.promoProd > 0 %}
                                                {{produit.prixProd}} ETH 
                                        {% endif %} 
                                    {% endif %}
                                </span></span>
                            </span>
                        </span>

            </div>

            <span>
                <span style="margin-right : 10px; " id="real_test">
                    Convert Price : 
                </span>
                <select id="currency_name" style="margin-bottom : 10px ; width : 100px ;" >
                    {% if  produit.categorieProd.nomCategorie != "Crypto" %}
                        <option value="tnd">TND</option>
                    {% else %}
                        <option value="eth">ETH</option>
                    {% endif %}
                    <option value="usd">USD</option>
                    {% if  produit.categorieProd.nomCategorie != "Crypto" %}
                        <option value="eur">EUR</option>
                        <option value="cad">CAD</option>
                    {% endif %} ; 
                </select>
            </span>

            




            </div>            
                <div class="stock available" title="Availability">
                    <span> {{produit.stockProd}} In stock</span>
                </div>
            <div class="product-info-stock-sku">
                <div class="product attribute sku">
                    <strong class="type">Catégorie</strong>
                    <div class="value" itemprop="sku">{{ produit.getCategProd().nomCategorie }}</div>
                </div>
            </div>



            <div class="product attribute overview">
                <div class="value" itemprop="description"><p>{{ produit.descProd }}</p></div>
            </div>



<div class="product-add-form">
    <form data-product-sku="CP03"  action="#" method="post" id="product_addtocart_form">
        <input type="hidden" name="product" value="92"/>
        <input type="hidden" name="selected_configurable_option" value=""/>
        <input type="hidden" name="related_product" id="related-products-field" value=""/>
        <input type="hidden" name="item" value="92"/>
        <input name="form_key" type="hidden" value="vedeAn56iqjqPQd2"/>                            <div class="box-tocart">
    <div class="fieldset">

            {% if  produit.categorieProd.nomCategorie != "Crypto" %}
                <div class="field qty up-down flex-layout no-wrap"> 
                <div class="control">
                    <input type="number" name="qty" id="qty" maxlength="12" value="1" title="Quantity" class="input-text qty" data-validate="{&quot;required-number&quot;:true,&quot;validate-item-quantity&quot;:{&quot;minAllowed&quot;:1,&quot;maxAllowed&quot;:10000}}"/>
                </div> 
				<div class="click-up-down flex-layout no-wrap column">
					<a class="qty-up-fixed-onclick qty-up" href="#"><span class="icon-chevron-up"></span></a> 
					<a class="qty-down-fixed-onclick qty-down" href="#"><span class="icon-chevron-down"></span></a> 
				</div>
			</div>
            {% endif %}

                <div class="actions">
            
            {% if  produit.categorieProd.nomCategorie != "Crypto" %}
                <button type="submit" title="Add&#x20;to&#x20;Cart" class="action primary tocart" id="product-addtocart-button">
                    <span>Add to Cart</span>
                </button>
            {% else %}
                <span id="pay-but" style="display : none ; ">
                    {% if produit.promoProd == 0 %}
                        {{produit.prixProd}}
                    {% else %}
                        {{produit.promoProd}}
                    {% endif %}
                </span>
                <button class="pay-button"  >Buy Now</button>
                <div id="status"></div>

            {% endif %}
 

            
                {% if  produit.categorieProd.nomCategorie == "Crypto" %}
                    <span id="crypto" style="display:none ; ">yes</span>
                {% else %}
                    <span id="crypto" style="display:none ; ">no</span>
                {% endif %} 



<div id="instant-purchase" data-bind="scope:'instant-purchase'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "#instant-purchase": {
            "Magento_Ui/js/core/app": {"components":{"instant-purchase":{"component":"Magento_InstantPurchase\/js\/view\/instant-purchase","config":{"template":"Magento_InstantPurchase\/instant-purchase","buttonText":"Instant Purchase","purchaseUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/instantpurchase\/button\/placeOrder\/"}}}}        }
    }
</script>
        </div>
    </div>
</div>
	<script>require(['jquery','mage/mage','Magento_Catalog/product/view/validation','Magento_Catalog/js/catalog-add-to-cart'],function($){'use strict';$('#product_addtocart_form').mage('validation',{radioCheckboxClosest:'.nested',submitHandler:function(form){var widget=$(form).catalogAddToCart({bindSubmit:false});widget.catalogAddToCart('submitForm',$(form));return false;}});});</script>

<script>require(['jquery'],function($){'use strict';var number_click=1;$(".qty-down-fixed-onclick").click(function(){var val_input=$(this).closest('div.field').find('#qty').val();val_input=parseInt(val_input);if(val_input<=number_click){val_input=number_click;}else{val_input=val_input-number_click;}$('div.field div.control #qty').val(val_input);return false;});$(".qty-up-fixed-onclick").click(function(){var val_input=$(this).closest('div.field').find('#qty').val();val_input=parseInt(val_input);val_input=val_input+number_click;$('div.field div.control #qty').val(val_input);return false;});});</script>
        
                    </form>
</div>

<script type="text/x-magento-init">
    {
        "[data-role=priceBox][data-price-box=product-id-92]": {
            "priceBox": {
                "priceConfig":  {"productId":"92","priceFormat":{"pattern":"$%s","precision":2,"requiredPrecision":2,"decimalSymbol":".","groupSymbol":",","groupLength":3,"integerRequired":false},"tierPrices":[]}            }
        }
    }
</script>
<div class="product-social-links"><div class="product-addto-links" data-role="add-to-links">
        <a href="#" class="action towishlist" data-post='{"action":"https:\/\/blueskytechmage.com\/ohey\/en11\/wishlist\/index\/add\/","data":{"product":92,"uenc":"aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9hbnpvLWxlZC1oZWFkbGlnaHRzLWdhdWdlLWtpdC5odG1s"}}' data-action="add-to-wishlist"><span>Add to Wish List</span></a>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": {"productType":"simple"}        }
    }
</script>

<a href="#" data-post='{"action":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product_compare\/add\/","data":{"product":"92","uenc":"aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9hbnpvLWxlZC1oZWFkbGlnaHRzLWdhdWdlLWtpdC5odG1s"}}' data-role="add-to-links" class="action tocompare"><span>Add to Compare</span></a>

</div>
<div class="product-share-links">
	<div class="share-links"><a href="#" class="share-links-click">share</a></div>
	<div class="share-dialog" style="display:none;">
		<a href="#" onclick=" window.open( 'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=436,height=436'); return false;"><span class="icon fab fa-facebook-f"><span class="text">Facebook</span></span></a>
		<a href="#" onclick=" window.open( 'http://twitter.com/home/?status='+encodeURIComponent(location.href), 'twitter-share-dialog', 'width=436,height=436'); return false;"><span class="icon fab fa-twitter"><span class="text">Twitter</span></span></a>
		<a href="#" onclick=" window.open( 'http://pinterest.com/pin/create/button/?url='+encodeURIComponent(location.href), 'pinterest-share-dialog', 'width=436,height=436'); return false;"><span class="icon fab fa-pinterest"><span class="text">Pinterest</span></span></a>
		<a href="#" onclick=" window.open( 'https://plus.google.com/share?url='+encodeURIComponent(location.href), 'twitter-share-dialog', 'width=436,height=436'); return false;"><span class="icon fab fa-google"><span class="text">Google</span></span></a>
	</div>
</div>
</div> 	<div class="product-page-brand-common-view">
	<span class="brand-label">Brands:  </span>	<ul class="product-brands">			<li class="brand-item">
												{{ produit.sousCategProd.nomSousCateg }}
							</li>
			</ul>	</div>
</div></div>    



<div class="product info detailed">
                <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
                                            <div class="data item title" data-role="collapsible" id="tab-label-description">
                    <a class="data switch" tabindex="-1" data-toggle="trigger" href="#description" id="tab-label-description-title">
                        Details                    </a>
                </div>
                <div class="data item content" aria-labelledby="tab-label-description-title" id="description" data-role="content">
                    
<div class="product attribute description">
        <div class="value"><p>Design inspiration lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci.</p>
<p>Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer.</p></div>
</div>
                </div>
                                                            <div class="data item title" data-role="collapsible" id="tab-label-reviews">
                    <a class="data switch" tabindex="-1" data-toggle="trigger" href="#reviews" id="tab-label-reviews-title">
                        Reviews <span class="counter">1</span>                    </a>
                </div>
                <div class="data item content" aria-labelledby="tab-label-reviews-title" id="reviews" data-role="content">
                    <div id="product-review-container" data-role="product-review"></div>
<div class="block review-add">
    <div class="block-title"><strong>Write Your Own Review</strong></div>
<div class="block-content">




<form action="/ajouter/avis" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">

    <input name="form_key" type="hidden" value="vedeAn56iqjqPQd2"/>        <fieldset class="fieldset review-fieldset" data-hasrequired="&#x2A;&#x20;Required&#x20;Fields">
        <legend class="legend review-legend"><span>You&#039;re reviewing:</span><strong>{{ produit.nomProd }}</strong></legend><br/>
                <span id="input-message-box"></span>
        <fieldset class="field required review-field-ratings">
            <legend class="label"><span>Your Rating</span></legend><br/>
            <div class="control">
                <div class="nested" id="product-review-table">
                                            <div class="field choice review-field-rating">
                            <label class="label" id="Price_rating_label" style="font-size : 20px ; color : black ; "><span>Rating</span></label>
                            <div class="control review-control-vote">
                                
                                <input type="radio" name="rating" id="Price_1" value="11" class="radio" data-validate="{'rating-required':true}" aria-labelledby="Price_rating_label Price_1_label"/>
                                <label class="rating-1" for="Price_1" title="1&#x20;star" id="Price_1_label">
                                    <span>1 star</span>
                                </label>

                                <input type="radio" name="rating" id="Price_2" value="12" class="radio" data-validate="{'rating-required':true}" aria-labelledby="Price_rating_label Price_2_label"/>
                                <label class="rating-2" for="Price_2" title="2&#x20;stars" id="Price_2_label">
                                    <span>2 stars</span>
                                </label>
                                
                                <input type="radio" name="rating" id="Price_3" value="13" class="radio" data-validate="{'rating-required':true}" aria-labelledby="Price_rating_label Price_3_label"/>
                                <label class="rating-3" for="Price_3" title="3&#x20;stars" id="Price_3_label">
                                    <span>3 stars</span>
                                </label>

                                <input type="radio" name="rating" id="Price_4" value="14" class="radio" data-validate="{'rating-required':true}" aria-labelledby="Price_rating_label Price_4_label"/>
                                <label class="rating-4" for="Price_4" title="4&#x20;stars" id="Price_4_label">
                                    <span>4 stars</span>
                                </label>

                                <input type="radio" name="rating" id="Price_5" value="15" class="radio" data-validate="{'rating-required':true}" aria-labelledby="Price_rating_label Price_5_label"/>
                                <label class="rating-5" for="Price_5" title="5&#x20;stars" id="Price_5_label">
                                    <span>5 stars</span>
                                </label>
                                                                                        </div>
                        </div>
                                          




                                           
                        </div>
                                    </div>
                <input type="hidden"  name="validate_rating" class="validate-rating" value=""/>
                <input type="hidden"  name="prod"  value="{{ produit.id }}"/>
            </div>
        </fieldset>
             
         
        <div class="field review-field-text required">
            <label for="review_field" class="label" style="font-size : 20px ; color : black ; "><span>Review</span></label>
            <div class="control">
                <textarea name="detail" id="review_field" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar review-form-actions">
        <div class="primary actions-primary">
            <button type="submit" name="submit" class="action submit primary"><span>Submit Review</span></button>
        </div>
    </div>
</form>




 


 







<center>



 

        
<style>
    .flags {
        width : 34px; 
        height : 22px ; 
        margin : 2px ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 11px;
        transition: all 0.2s ; 
    }
    .flags:hover {
        transform : scale(1.2) ; 
    }

    .buttonRemove {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .buttonRemove:hover {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    } 
</style>





        <div class="gtco-testimonials" style="margin-top: 200px">
            <h2>Testimonials</h2>
            <span>
                <button value="de" onclick="translate_lg(this.value)" class="buttonRemove"> 
                    <img class="flags "    src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1200px-Flag_of_Germany.svg.png" >
                </button>    

                <button value="fr" onclick="translate_lg(this.value)" class="buttonRemove"> 
                    <img class="flags " value="fr" onclick="translate_lg(this.value)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/2560px-Flag_of_France.svg.png" >
                </button> 

                <button value="us" onclick="translate_lg(this.value)" class="buttonRemove"> 
                    <img class="flags " value="en" onclick="translate_lg(this.value)"  src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png" >
                </button> 

            </span>
            
            <div class="owl-carousel owl-carousel1 owl-theme" style="margin-top : 60px !important ; ">
                {% if avis is empty %}
                    This product, currently, has no reviews.
                 
                {% endif %}
                
                
                {% set number = 1000 %}
                {% for avi in avis %}
                <div class="card text-center"  ><img class="card-img-top"  src="https://images.unsplash.com/photo-1588361035994-295e21daa761?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=301" alt="">
                    <div class="card-body">
                        <h5>{{ avi.idUser.username }}<br />
                            <span style="color : #fdb819;" >
                                {% for i in range(1,avi.ratingAvis) %}
                                    <span style="color : orange" class="fa fa-star checked"></span>
                                {% endfor %}
                            
                               
                                </span>
                        </h5>

                        {% set number = number + 1 %}
                        <p class="card-text" id="{{number}}" >“ {{ avi.descAvis  }} ” , {{ avi.timeAvis | date("m/d/Y")}}</p>
                    </div>


                     
                        {% if user is not null  %}
                            {% if avi.idUser.id == user.id  %}
                                <span style="margin-top : 30px; margin-bottom : 25px ; ">
                                    <a href="{{path('modifAvis' , {'id' : avi.id })}}" style="color : green ; ">
                                        <i class='far fa-edit' style='font-size:18px'></i> Edit    
                                    </a>
                                    
                                    <span style="margin-left:50px ; "></span>

                                    <a href="{{path('delete_avis' , {'id' : avi.id })}}" style="color : red ; ">
                                        <i class="fa fa-remove" style="font-size:18px"></i> Delete
                                    </a>
                                </span>
                            {% endif %}
                        {% endif %}
                     


                </div>
                {% endfor %}
            </div>
        </div>

<p style="display : none ; " type="hidden" id="avis_length">{{number}}</p>


<script>
    function translate_lg(language) {
        var length = document.getElementById('avis_length').innerHTML ; 
        console.log(length) ; 
         
        var all_text = "" ; 

        if (length >1000) {
            for (let step = 1001; step <= length ; step++) {
                text = document.getElementById(step).innerHTML ; 
                console.log(text) ; 
                all_text = (all_text.concat(text, '--'))  ; 
            } 
            console.log(all_text) ; 
               

                const settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "https://google-translate1.p.rapidapi.com/language/translate/v2",
                    "method": "POST",
                    "headers": {
                        "content-type": "application/x-www-form-urlencoded",
                        "accept-encoding": "application/gzip",
                        "x-rapidapi-host": "google-translate1.p.rapidapi.com",
                        "x-rapidapi-key": "00e51753fdmsh46a123f2dcdb845p11cfa3jsne4d1e50a77ee"
                    },
                    "data": {
                        "q": all_text ,
                        "target": language ,
                        "source": "en"
                    }
                };

                     
                
                $.ajax(settings).done(function (response) {
                    texts = response["data"]["translations"][0]["translatedText"].split('--');
                    console.log(texts) ; 
                    for (let step = 1001; step <= length ; step++) {
                        const st = step - 1001 ;
                        console.log("STEP : "+ texts[st]) ;  
                        document.getElementById(step).innerHTML = texts[st] ;
                    }
                });    





             
        } 

    }

</script>



<!-- ============= RECOMMENDATION ==================== -->


		 


{% set items = [] %}

		{% for avis in avis_user %}
            {% if (avis.ratingAvis == 4 or avis.ratingAvis == 5)    %}

                {% for prod in produits_all  %}
                    
                        {% if prod == avis.idProd %}
                            {% if prod.categorieProd not in items %}
                                {% if prod.categorieProd.nomCategorie not in items %} 
                                    {% set items = items |merge([prod.categorieProd.nomCategorie]) %}    
                                {% endif %}
                            {% endif %} 
                        {% endif %}     
                {% endfor %} 
            {% endif %}
		{% endfor %}

 


<div class="gtco-testimonials" style="margin-top: 200px">
	<h2 style="margin-bottom : 80px ; ">Recommended Products</h2>
	<div class="owl-carousel owl-carousel1 owl-theme">
         
        {% for i in  items  %}
        {% set number = 0 %}

        {% for prods in produits_all %}
            
            {% if ((prods.categorieProd.nomCategorie == i ) and (prods != produit) and (number < 2)) %}

                {% set number = number + 1 %}

                <div class="card text-center"><a href="{{path('product_show',{'id' : prods.id })}}"><img class="card-img-top" src="{{prods.imageProd}}" alt=""></a>
                    <div class="card-body">
                        <h5>
                            <br/>
                            <span style="color : #fdb819;">
                                {% set avg = 0 %}
                                {% set avd = 0 %}
                                {% set size = 0 %}
                                {% for avi in avis_all %}
                                    {% if avi.idProd.id == prods.id %}
                                        {% set avg = avg + avi.ratingAvis %}
                                        {% set size = size + 1 %}
                                    {% endif %}
                                {% endfor %}

                                {% if size != 0 %}
                                    {% set avd = (avg / size)   %}
                                    {% set avd =  avd | round %}
                                {% else %}
                                    {% set avd = 5 %}
                                {% endif %}

                                {% for i in range(1,avd) %}
                                    <span style="color : orange" class="fa fa-star checked"></span>
                                {% endfor %}


                            </span>
                        </h5>
                        <p class="card-text">
                            <h4> {{prods.nomProd}} </h4>
                        </p>
                    </div>


                     
                    {% if prods.promoProd != 0 %} 
                        <span style="  margin-bottom : 25px ; ">
                            <a href="{{path('product_show',{'id' : prods.id })}}" style="color : green ;  ">
                                <h4> {{prods.promoProd}} DT 
                            </a>

                            <span style="margin-left:20px ; "></span>

                            <a href="{{path('product_show',{'id' : prods.id })}}" style="color : red ; ">
                                <strike> {{prods.prixProd}} DT</strike></h4>
                            </a>
                        </span>
                    {% else %}
                        <span style="  margin-bottom : 25px ; ">
                            <a href="{{path('product_show',{'id' : prods.id })}}" style="color : green ;  ">
                                <h4> {{prods.prixProd}} DT 
                            </a> 
                        </span>

                    {% endif %}
                     


                </div>

            {% endif %}
        {% endfor %}
        {% endfor %}

	</div>
</div>

             
        

    
    







</center>


{% endfor %}
<!--========================= END PRODUIT ========================================== -->


<script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": {"components":{"review-form":{"component":"Magento_Review\/js\/view\/review"}}}    },
    "#review-form": {
        "Magento_Review/js/error-placement": {},
        "Magento_Review/js/validate-review": {},
        "Magento_Review/js/submit-review": {}
    }
}
</script>
</div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fen11\u002Freview\u002Fproduct\u002FlistAjax\u002Fid\u002F92\u002F",
                "reviewsTabSelector": "#tab-label-reviews"
            }
        }
    }
</script>
                </div>
                                    </div>
    </div>
<input name="form_key" type="hidden" value="vedeAn56iqjqPQd2"/><div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}">
        <script>window.authenticationPopup={"autocomplete":"off","customerRegisterUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/customer\/account\/create\/","customerForgotPasswordUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/customer\/account\/forgotpassword\/","baseUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/"}</script>    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#authenticationPopup": {
                "Magento_Ui/js/core/app": {"components":{"authenticationPopup":{"component":"Magento_Customer\/js\/view\/authentication-popup","children":{"messages":{"component":"Magento_Ui\/js\/view\/messages","displayArea":"messages"},"captcha":{"component":"Magento_Captcha\/js\/view\/checkout\/loginCaptcha","displayArea":"additional-login-form-fields","formId":"user_login","configSource":"checkout"},"amazon-button":{"component":"Amazon_Login\/js\/view\/login-button-wrapper","sortOrder":"0","displayArea":"additional-login-form-fields","config":{"tooltip":"Securely login to our website using your existing Amazon details.","componentDisabled":true}}}}}}            },
            "*": {
                "Magento_Ui/js/block-loader": "https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fstatic\u002Fversion1640184821\u002Ffrontend\u002Fbluesky\u002Fbluesky_ohey_carparts_01\u002Fen_US\u002Fimages\u002Floader\u002D1.gif"
            }
        }
    </script>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/section-config": {
                "sections": {"stores\/store\/switch":["*"],"stores\/store\/switchrequest":["*"],"directory\/currency\/switch":["*"],"*":["messages"],"customer\/account\/logout":["*","recently_viewed_product","recently_compared_product","persistent"],"customer\/account\/loginpost":["*"],"customer\/account\/createpost":["*"],"customer\/account\/editpost":["*"],"customer\/ajax\/login":["checkout-data","cart","captcha"],"catalog\/product_compare\/add":["compare-products"],"catalog\/product_compare\/remove":["compare-products"],"catalog\/product_compare\/clear":["compare-products"],"sales\/guest\/reorder":["cart"],"sales\/order\/reorder":["cart"],"checkout\/cart\/add":["cart","directory-data"],"checkout\/cart\/delete":["cart"],"checkout\/cart\/updatepost":["cart"],"checkout\/cart\/updateitemoptions":["cart"],"checkout\/cart\/couponpost":["cart"],"checkout\/cart\/estimatepost":["cart"],"checkout\/cart\/estimateupdatepost":["cart"],"checkout\/onepage\/saveorder":["cart","checkout-data","last-ordered-items"],"checkout\/sidebar\/removeitem":["cart"],"checkout\/sidebar\/updateitemqty":["cart"],"rest\/*\/v1\/carts\/*\/payment-information":["cart","last-ordered-items","captcha","instant-purchase"],"rest\/*\/v1\/guest-carts\/*\/payment-information":["cart","captcha"],"rest\/*\/v1\/guest-carts\/*\/selected-payment-method":["cart","checkout-data"],"rest\/*\/v1\/carts\/*\/selected-payment-method":["cart","checkout-data","instant-purchase"],"customer\/address\/*":["instant-purchase"],"customer\/account\/*":["instant-purchase"],"vault\/cards\/deleteaction":["instant-purchase"],"multishipping\/checkout\/overviewpost":["cart"],"paypal\/express\/placeorder":["cart","checkout-data"],"paypal\/payflowexpress\/placeorder":["cart","checkout-data"],"paypal\/express\/onauthorization":["cart","checkout-data"],"persistent\/index\/unsetcookie":["persistent"],"review\/product\/post":["review"],"wishlist\/index\/add":["wishlist"],"wishlist\/index\/remove":["wishlist"],"wishlist\/index\/updateitemoptions":["wishlist"],"wishlist\/index\/update":["wishlist"],"wishlist\/index\/cart":["wishlist","cart"],"wishlist\/index\/fromcart":["wishlist","cart"],"wishlist\/index\/allcart":["wishlist","cart"],"wishlist\/shared\/allcart":["wishlist","cart"],"wishlist\/shared\/cart":["cart"],"braintree\/paypal\/placeorder":["cart","checkout-data"],"braintree\/googlepay\/placeorder":["cart","checkout-data"]},
                "clientSideSections": ["checkout-data","cart-data","chatData"],
                "baseUrls": ["https:\/\/blueskytechmage.com\/ohey\/en11\/"],
                "sectionNames": ["messages","customer","compare-products","last-ordered-items","cart","directory-data","captcha","instant-purchase","loggedAsCustomer","persistent","review","wishlist","chatData","recently_viewed_product","recently_compared_product","product_data_storage","paypal-billing-agreement"]            }
        }
    }
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/customer-data": {
                "sectionLoadUrl": "https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fen11\u002Fcustomer\u002Fsection\u002Fload\u002F",
                "expirableSectionLifetime": 60,
                "expirableSectionNames": ["cart","persistent"],
                "cookieLifeTime": "3600",
                "updateSessionUrl": "https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fen11\u002Fcustomer\u002Faccount\u002FupdateSession\u002F"
            }
        }
    }
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/invalidation-processor": {
                "invalidationRules": {
                    "website-rule": {
                        "Magento_Customer/js/invalidation-rules/website-rule": {
                            "scopeConfig": {
                                "websiteId": "5"
                            }
                        }
                    }
                }
            }
        }
    }
</script>
<script type="text/x-magento-init">
    {
        "body": {
            "pageCache": {"url":"https:\/\/blueskytechmage.com\/ohey\/en11\/page_cache\/block\/render\/id\/92\/","handles":["default","catalog_product_view","catalog_product_view_type_simple","catalog_product_view_id_92","catalog_product_view_sku_CP03"],"originalRequest":{"route":"catalog","controller":"product","action":"view","uri":"\/ohey\/en11\/anzo-led-headlights-gauge-kit.html"},"versionCookieName":"private_content_version"}        }
    }
</script>

<script type="text/x-magento-init">
    {
        "body": {
            "requireCookie": {"noCookieUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/cookie\/index\/noCookies\/","triggers":[".action.towishlist"],"isRedirectCmsPage":true}        }
    }
</script>
<script type="text/x-magento-init">
    {
        "*": {
                "Magento_Catalog/js/product/view/provider": {
                    "data": {"items":{"92":{"add_to_cart_button":{"post_data":"{\"action\":\"https:\\\/\\\/blueskytechmage.com\\\/ohey\\\/en11\\\/checkout\\\/cart\\\/add\\\/uenc\\\/%25uenc%25\\\/product\\\/92\\\/\",\"data\":{\"product\":\"92\",\"uenc\":\"%uenc%\"}}","url":"https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/cart\/add\/uenc\/%25uenc%25\/product\/92\/","required_options":false},"add_to_compare_button":{"post_data":null,"url":"{\"action\":\"https:\\\/\\\/blueskytechmage.com\\\/ohey\\\/en11\\\/catalog\\\/product_compare\\\/add\\\/\",\"data\":{\"product\":\"92\",\"uenc\":\"aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9hbnpvLWxlZC1oZWFkbGlnaHRzLWdhdWdlLWtpdC5odG1s\"}}","required_options":null},"price_info":{"final_price":100,"max_price":100,"max_regular_price":100,"minimal_regular_price":100,"special_price":null,"minimal_price":100,"regular_price":300,"formatted_prices":{"final_price":"<span class=\"price\">$100.00<\/span>","max_price":"<span class=\"price\">$100.00<\/span>","minimal_price":"<span class=\"price\">$100.00<\/span>","max_regular_price":"<span class=\"price\">$100.00<\/span>","minimal_regular_price":null,"special_price":null,"regular_price":"<span class=\"price\">$300.00<\/span>"},"extension_attributes":{"msrp":{"msrp_price":"<span class=\"price\">$0.00<\/span>","is_applicable":"","is_shown_price_on_gesture":"","msrp_message":"","explanation_message":"Our price is lower than the manufacturer&#039;s &quot;minimum advertised price.&quot; As a result, we cannot show you the price in catalog or the product page. <br><br> You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart."},"tax_adjustments":{"final_price":100,"max_price":100,"max_regular_price":100,"minimal_regular_price":100,"special_price":100,"minimal_price":100,"regular_price":300,"formatted_prices":{"final_price":"<span class=\"price\">$100.00<\/span>","max_price":"<span class=\"price\">$100.00<\/span>","minimal_price":"<span class=\"price\">$100.00<\/span>","max_regular_price":"<span class=\"price\">$100.00<\/span>","minimal_regular_price":null,"special_price":"<span class=\"price\">$100.00<\/span>","regular_price":"<span class=\"price\">$300.00<\/span>"}},"weee_attributes":[],"weee_adjustment":"<span class=\"price\">$100.00<\/span>"}},"images":[{"url":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/ae535b032f49014d8ee43958fce1e512\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","code":"recently_viewed_products_grid_content_widget","height":500,"width":500,"label":"Anzo \u2013 LED Headlights Gauge Kit","resized_width":500,"resized_height":500},{"url":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/d7522062023ca9a7dca6125334b2906b\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","code":"recently_viewed_products_list_content_widget","height":270,"width":270,"label":"Anzo \u2013 LED Headlights Gauge Kit","resized_width":270,"resized_height":270},{"url":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/b970b1288179dfa51907461b707e2120\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","code":"recently_viewed_products_images_names_widget","height":150,"width":150,"label":"Anzo \u2013 LED Headlights Gauge Kit","resized_width":150,"resized_height":150},{"url":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/ae535b032f49014d8ee43958fce1e512\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","code":"recently_compared_products_grid_content_widget","height":500,"width":500,"label":"Anzo \u2013 LED Headlights Gauge Kit","resized_width":500,"resized_height":500},{"url":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/3652e6e2ce98fa8168ff8952e0f0a581\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","code":"recently_compared_products_list_content_widget","height":207,"width":270,"label":"Anzo \u2013 LED Headlights Gauge Kit","resized_width":270,"resized_height":207},{"url":"https:\/\/blueskytechmage.com\/ohey\/media\/catalog\/product\/cache\/b970b1288179dfa51907461b707e2120\/a\/n\/anzo_led_headlights_gauge_kit_1_1.jpg","code":"recently_compared_products_images_names_widget","height":150,"width":150,"label":"Anzo \u2013 LED Headlights Gauge Kit","resized_width":150,"resized_height":150}],"url":"https:\/\/blueskytechmage.com\/ohey\/en11\/anzo-led-headlights-gauge-kit.html","id":92,"name":"Anzo \u2013 LED Headlights Gauge Kit","type":"simple","is_salable":"1","store_id":15,"currency_code":"USD","extension_attributes":{"review_html":"        <div class=\"product-reviews-summary short\">\r\n                <div class=\"rating-summary\">\r\n            <span class=\"label\"><span>Rating:<\/span><\/span>\r\n            <div class=\"rating-result\" title=\"100%\">\r\n                <span style=\"width:100%\"><span>100%<\/span><\/span>\r\n            <\/div>\r\n        <\/div>\r\n                <div class=\"reviews-actions\">\r\n            <a class=\"action view\" href=\"https:\/\/blueskytechmage.com\/ohey\/en11\/anzo-led-headlights-gauge-kit.html#reviews\">\r\n                1 <span>Review<\/span><\/a>\r\n        <\/div>\r\n    <\/div>\r\n","wishlist_button":{"post_data":null,"url":"{\"action\":\"https:\\\/\\\/blueskytechmage.com\\\/ohey\\\/en11\\\/wishlist\\\/index\\\/add\\\/\",\"data\":{\"product\":92,\"uenc\":\"aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9hbnpvLWxlZC1oZWFkbGlnaHRzLWdhdWdlLWtpdC5odG1s\"}}","required_options":null}},"is_available":true}},"store":"15","currency":"USD","productCurrentScope":"website"}            }
        }
    }
</script>



<script>
	(function () {
"use strict";

var carousels = function () {
$(".owl-carousel1").owlCarousel({
loop: true,
center: true,
margin: 0,
responsiveClass: true,
nav: false,
responsive: {
0: {
items: 1,
nav: false
},
680: {
items: 2,
nav: false,
loop: false
},
1000: {
items: 3,
nav: true
}
}
});
};

(function ($) {
carousels();
})(jQuery);
})();
</script>

<!-- ====================== API CURRENCY CONVERSION =================== -->
<script>
document.getElementById('currency_name').addEventListener('change', function() {

    console.log("dd") ; 
    var value = this.value  ;

    if (document.getElementById("crypto").innerHTML == "no") {
        console.log("NOOO") ; 
        
        const settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://exchangerate-api.p.rapidapi.com/rapid/latest/TND",
        "method": "GET",
        "headers": {
            "x-rapidapi-host": "exchangerate-api.p.rapidapi.com",
            "x-rapidapi-key": "0df9a64d4dmshef637b6555ab817p197c06jsn23b1172de7c8"
        }
        };

        $.ajax(settings).done(function (response) {
            if ( value == "usd") {
                var old =   document.getElementById("price_old").innerHTML  ;
                document.getElementById("currency_abrev").innerHTML = "USD" ; 
                document.getElementById("price_conversion").innerHTML= (response["rates"]["USD"]*old).toFixed(2)   ;



            } else if ( value == "eur") {
                var old =   document.getElementById("price_old").innerHTML  ;
                document.getElementById("currency_abrev").innerHTML = "EUR" ; 
                document.getElementById("price_conversion").innerHTML=  (response["rates"]["EUR"]*old).toFixed(2)   ;


            } else if ( value == "tnd") {
                var old =   document.getElementById("price_old").innerHTML  ;
                document.getElementById("currency_abrev").innerHTML = "TND" ;
                document.getElementById("price_conversion").innerHTML=  (response["rates"]["TND"]*old).toFixed(2)   ;


            } else if ( value == "cad") {
                var old =   document.getElementById("price_old").innerHTML  ;
                document.getElementById("currency_abrev").innerHTML = "CAD" ;
                document.getElementById("price_conversion").innerHTML=  (response["rates"]["CAD"]*old).toFixed(2)   ;


            }
        });

    } else {

        const settings = {
            "async": true,
            "crossDomain": true,
            "url": "https://crypto-price-feed.p.rapidapi.com/api/crypto-feed",
            "method": "GET",
            "headers": {
                "x-rapidapi-host": "crypto-price-feed.p.rapidapi.com",
                "x-rapidapi-key": "00e51753fdmsh46a123f2dcdb845p11cfa3jsne4d1e50a77ee"
            }
        };

        console.log("YESS") ; 

        $.ajax(settings).done(function (response) {
            var price = response["result"][1]["price"] ; 
            console.log(price);
            price_new =price.substring(1) ; 
            var price_last = price_new.replace(',','') ;
            console.log(price_last) ; 

            if ( value == "usd") {
                var old =   document.getElementById("price_old").innerHTML  ;
                document.getElementById("currency_abrev").innerHTML = "USD" ; 
                document.getElementById("price_conversion").innerHTML= (price_last*old).toFixed(2)   ; 
            } else if ( value == "eth") {
                var old =   document.getElementById("price_old").innerHTML  ;
                document.getElementById("currency_abrev").innerHTML = "ETH" ; 
                document.getElementById("price_conversion").innerHTML= old   ; 
            }
        });
 


    }


    
});
</script>
<!-- ======================  END API CURRENCY CONVERSION =================== -->


<script type="text/javascript">
	window.addEventListener('load', async () => {
        if (window.ethereum) {
            window.web3 = new Web3(ethereum);
            try {
                await ethereum.enable();
                initPayButton()
            } catch (err) {
                $('#status').html('User denied account access', err)
            }
        } else if (window.web3) {
            window.web3 = new Web3(web3.currentProvider)
            initPayButton()
        } else {
            $('#status').html('No Metamask (or other Web3 Provider) installed')
        }
    })

const initPayButton = () => {
    $('.pay-button').click(() => { // paymentAddress is where funds will be send to
        const paymentAddress = '0x5179169031b8fCdC3FF4798C982484BfA943034D'
        const ammount =  document.getElementById("pay-but").innerHTML 
        console.log(ammount)
        const amountEth = ammount

        web3.eth.sendTransaction({
            to: paymentAddress,
            value: web3.toWei(amountEth, 'ether')
        }, (err, transactionId) => {
            if (err) {
                console.log('Payment failed', err)
                $('#status').html('Payment failed')
            } else {
                console.log('Payment successful', transactionId)
                $('#status').html('Payment successful')
            }
        })
    })
}
</script>










<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>



</div></div></main>

</body>

 

  
{% endblock %}
