{% extends 'base.html.twig' %}
 {% block title %}   
           <title> Logging in </title>
           {% endblock %}

{% block body %}




    <a id="contentarea" tabindex="-1"></a>
<div class="page-title-wrapper">
    <h1 class="page-title">
        <span class="base" data-ui-id="page-title-wrapper">Customer Login</span>    </h1>
       
 </div>
    

    
   
<div class="login-container"><div class="block block-customer-login">
     {% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2">Registered Customers</strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        
            <input name="form_key" type="hidden" value="vedeAn56iqjqPQd2"/>            <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                <div class="field note">If you have an account, sign in with your email address.</div>
                <!-- nzid hnaaaaaaaaaaaaaaaaaa-->
               
                     <form action="{{path('security_login')}} " method="post">
                    <div class="field email required">
                     <label class="label" for="email"><span>Email:</span></label>
                     </div>
                     <div class="form-group">
                      <input label="Email:" placeholder="Enter your email adress..." required name="_username"
                    type="text" class="form-control">
                    </div>
                    <div class="field email required">
                     <label class="label" for="email"><span>Password:</span></label>
                     </div>

                     <div class="form-group">
                <input placeholder="Enter your password..." required name="_password"
                    type="password" class="form-control">
            </div>

          
             
                    <div class="actions-toolbar">
                 
                    <div class="secondary"><a class="action remind" href="{{path('forgotton_pass')}}"><span>Forgot Your Password?</span></a></div>
                </div>

                  <div class="form-group">
             <button type:"submit" class=".btn.bt-success"> Sign in </button>
             </div>

                 </form>
               
           
            </fieldset>
            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
    <span>Login with facebook</span>
</a>
  
    </div>
   
</div>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2">New Customers</strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="{{path('security_registration')}}" class="action create primary"><span>Create an Account</span></a>
            </div>
        </div>
    </div>
</div>
</div>






 

{% endblock body  %}
