{% extends "base.html.twig" %}

{% block body %}

<div class="main-content">

        <div class="page-content">
                <div class="container-fluid">
                        <section>
                                {% for publication in publications %}
                                <publication id="descripForm" style="align-text:center ;">
                                        <h2>{{ publication.titrePubl }}</h2>
                                        <div class="metadata">Ecrit le {{ publication.tempsPubl | date }}
                                                dans la categorie </div>
                                        <div class="content">
                                                <img src="{{ publication.imagepubl }}"  alt="">
                                                <p>
                                                        {{ publication.descriptionPubl }}
                                                </p>
                                                {% if app.user == publication.utilisateur %}
                                                <div class="row">
                                                        <a href=" {{ path('delete_publ', {'id' : publication.id }) }} "
                                                                class="btn btn-sm btn-outline-secondery"
                                                                onclick="return confirm ('attention ce ci va supprimer ')">Supprimer</a>
                                                        <a href=" {{ path('modifier_blog', {'id' : publication.id }) }} "
                                                                class="btn btn-primary">modifier</a>
                                                </div>
                                                {% endif %}
                                                <br>
                                                {% for commentaire in publication.commentaires %}
                                                <div id="descripbr" class="col-6">
                                                        <p> <span  style="border: 2px solid transparent;
  border-radius: 2px; background-color: #DCDCDC	;">{{ commentaire.descriptionComm}}</span> <i> by {{
                                                                        commentaire.utilisateur.username}} at
                                                                        {{commentaire.tempsComm |
                                                                        date }} </i>
                                                               
                                                        </p>
                                                        <p style="margin-top : -20px;">
                                                         {% if app.user == commentaire.utilisateur %}
                                                                <a href="#descripbr" style="color : blue"
                                                                        onclick="onClickModifier({{ commentaire.id}} , '{{commentaire.descriptionComm }}')">
                                                                        modifier </a> 
                                                                        <a style="margin-left : 30px; color : red"
                                                                        href="{{ path('supprrimer_commentaire_blog', {'idPublication' : publication.id, 'id' : commentaire.id }) }}">
                                                                        supprimer </a>
                                                                {% endif %}
                                                                </p>
                                                </div>
                                                {% endfor %}
                                                <br>
                                                {% if app.user %}
                                                <form method="post" class="row"
                                                        action="{{ path('commenter_blog', {'id' : publication.id }) }}">
                                                        <div class="col-8">
                                                                <input id="descrip" type="text" name="description" />
                                                        </div>
                                                        <div class="col-2">
                                                                <button type="submit" value="ajouter">commenter</button>
                                                        </div>
                                                       
                                                        <div class="col-2" style="font-size:50px">
	                       
			<ul class="mobile-bottom-link flex-layout space-between list-unstyled no-wrap">


					<a    {% if  publication.likes.contains(app.user) == false %} href=" {{ path('aimer_blog', {'id' : publication.id }) }}" {% endif %} >
						<span class="icon {% if  publication.likes.contains(app.user) == true %} icon-favorite  {% else %} icon-favorite_border {% endif %} ">
                                                
                                                </span>
                                                {{publication.likes.count}}
                                                </a>
				</li>
                                                </ul>
                                              
                                                </form>
                                                {% endif %}
                                        </div>
                                </publication>
                                {% endfor %}
                        </section>
                </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
        function onClickModifier(id, desc) {
                document.getElementById('descrip').setAttribute("value", desc);
                document.getElementById('idCommentaire').setAttribute("value", id);
        }
</script>
</div>
</div>

{% endblock %}