<!doctype html>
<html lang="en"><!-- Mirrored from blueskytechmage.com/ohey/en11/contact/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Feb 2022 18:57:15 GMT -->
	<!-- Added by HTTrack -->
	<meta
	http-equiv="content-type" content="text/html;charset=UTF-8"/> <!-- /Added by HTTrack -->
	<head>
 
		<script>
			var BASE_URL = 'https.html\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fen11\u002F';
var require = {
'baseUrl': 'https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fstatic\u002Fversion1640184821\u002Ffrontend\u002Fbluesky\u002Fbluesky_ohey_carparts_01\u002Fen_US'
};
		</script>
		<meta charset="utf-8"/>
		<meta name="title" content="Contact Us"/>
		<meta name="robots" content="INDEX,FOLLOW"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="format-detection" content="telephone=no"/>
		<title>Crypto Market</title>
		<link rel="stylesheet" type="text/css" media="all" href="../../static/version1640184821/_cache/merged/A.2efa3b95489a4189897749220a92fce0.min.css.pagespeed.cf._5GLoYDEdJ.css"/>
		<link rel="stylesheet" type="text/css" media="print" href="../../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/css/A.print.min.css.pagespeed.cf.vxbaswDj2V.css"/>
		<script type="text/javascript" src="../../static/version1640184821/_cache/merged/af9d47abda4bdb126168e1a73fa371ad.min.js"></script>
		<link rel="icon" type="image/x-icon" href="../../media/favicon/stores/15/xThumbnail.png.pagespeed.ic.HrbBfqaLqh.png"/>
		<link rel="shortcut icon" type="image/x-icon" href="../../media/favicon/stores/15/xThumbnail.png.pagespeed.ic.HrbBfqaLqh.png"/>
		<link rel="stylesheet" type="text/css" media="all" href="../../media/rokanthemes/theme_option/A.custom_en11.css%2cqv%3d1630588925.pagespeed.cf.jzGk9q1GFf.css">
		
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&display=swap" rel="stylesheet">


 


 




        <script type="text/x-magento-init">
			{
			            "*": {
			                "Magento_PageCache/js/form-key-provider": {}
			            }
			        }
		</script>




<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: "ROBOTO", sans-serif;
	}

	.nav,
	.slider {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		position: relative;
		background-color: #1e1f26;
		text-align: center;
		padding: 0 2em;
	}

	.nav h1,
	.slider h1 {
		font-family: "Josefin Sans", sans-serif;
		font-size: 5vw;
		margin: 0;
		padding-bottom: 0.5rem;
		letter-spacing: 0.3rem;
		color: #202020;
		transition: all 0.3s ease;
		z-index: 3;
	}
	h1:hover {
		transform: translate3d(0, -10px, 22px);
		color: #606060;
	}

	.slider h2 {
		font-size: 2vw;
		letter-spacing: 0.3rem;
		font-family: "ROBOTO", sans-serif;
		font-weight: 300;
		color: #404040;
		z-index: 4;
	}
	h3.span {
		font-size: 2vw;
		letter-spacing: 0.15rem;
		font-family: "ROBOTO", sans-serif;
		font-weight: 300;
		color: #faebd7;
		z-index: 4;
	}
	span:hover {
		color: #ff0266;
		font-weight: 500;
		font-size: 2.2vw;
	}

	a {
		text-decoration: none;
	}

	.nav-container {
		display: flex;
		flex-direction: row;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 75px;
		box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
		background: #1e1f26;
		z-index: 10;
		transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	}

	.nav-container--top-first {
		position: fixed;
		top: 75px;
		transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	}

	.nav-container--top-second {
		position: fixed;
		top: 0;
	}
	.nav-container--top-second {
		position: fixed;
		top: 0;
	}

	.nav-tab {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		color: #03dac6;
		letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 2vw;
	}

	.nav-tab:hover {
		color: #1e1f26;
		background: #03dac6;
		transition: all 0.5s ease;
	}

	.nav-tab-slider {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 5px;
		background: #03dac6;
		transition: left 0.3s ease;
	}
	.background {
		position: absolute;
		height: 100vh;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: auto;
	}
	@media(min-width: 800px) {
		.nav h1,
		.slider h1 {
			font-size: 5vw;
		}

		.nav h2,
		.slider h2 {
			font-size: 3vw;
		}

		.nav-tab {
			font-size: 3vw;
		}
	}

	@media screen only(min-width: 360px) {
		.nav h1,
		.slider h1 {
			font-size: 8vw;
		}

		.nav h2,
		.slider h2 {
			font-size: 2vw;
			letter-spacing: 0.2vw;
		}

		.nav-tab {
			font-size: 1.2vw;
		}
	}
	.background {
		position: absolute;
		height: 100vh;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}
	.loader span {
		color: #faebd7;
		text-shadow: 0 0 0 #faebd7;
		-webkit-animation: loading 1s ease-in-out infinite alternate;
	}

	@-webkit-keyframes loading {
		to {
			text-shadow: 20px 0 70px #ff0266;
			color: #404040;
		}
	}
	.loader span:nth-child(2) {
		-webkit-animation-delay: 0.1s;
	}
	.loader span:nth-child(3) {
		-webkit-animation-delay: 0.2s;
	}
	.loader span:nth-child(4) {
		-webkit-animation-delay: 0.3s;
	}
	.loader span:nth-child(5) {
		-webkit-animation-delay: 0.4s;
	}
	.loader span:nth-child(6) {
		-webkit-animation-delay: 0.5s;
	}
	.loader span:nth-child(7) {
		-webkit-animation-delay: 0.6s;
	}
	.loader span:nth-child(8) {
		-webkit-animation-delay: 0.7s;
	}
	.loader span:nth-child(9) {
		-webkit-animation-delay: 0.8s;
	}

	.loader span:nth-child(10) {
		-webkit-animation-delay: 0.9s;
	}
	.loader span:nth-child(11) {
		-webkit-animation-delay: 1s;
	}
	.loader span:nth-child(12) {
		-webkit-animation-delay: 1.1s;
	}
	.loader span:nth-child(13) {
		-webkit-animation-delay: 1.2s;
	}
	.loader span:nth-child(14) {
		-webkit-animation-delay: 1.3s;
	}
	.loader span:nth-child(15) {
		-webkit-animation-delay: 1.4s;
	}
	.loader span:nth-child(16) {
		-webkit-animation-delay: 1.5s;
	}
	.loader span:nth-child(17) {
		-webkit-animation-delay: 1.6s;
	}
	.loader span:nth-child(18) {
		-webkit-animation-delay: 1.7s;
	}
	.loader span:nth-child(19) {
		-webkit-animation-delay: 1.8s;
	}
	.loader span:nth-child(20) {
		-webkit-animation-delay: 1.9s;
	}
	.loader span:nth-child(21) {
		-webkit-animation-delay: 2s;
	}
	.loader span:nth-child(22) {
		-webkit-animation-delay: 2.1s;
	}


/* ============= BUTTON ===================== */
.buttonmetamask {
     background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer; 
    font-size: 16px; 
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    }
}






/* ================ COLUMN =================== */



    * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
   
  width: 50%;
  padding: 3%;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}





</style>







<!-- ====================== SCRIPT TOP =============================== -->
<script>
	window.onload = function () {
Particles.init({selector: ".background"});
};
var particles = Particles.init({
selector: ".background",
color: [
"#03dac6", "#ff0266", "#000000"
],
connectParticles: true,
responsive: [
{
breakpoint: 768,
options: {
color: [
"#faebd7", "#03dac6", "#ff0266"
],
maxParticles: 43,
connectParticles: false
}
}
]
});

class NavigationPage {
constructor() {
this.currentId = null;
this.currentTab = null;
this.tabContainerHeight = 70;
this.lastScroll = 0;
let self = this;
$(".nav-tab").click(function () {
self.onTabClick(event, $(this));
});
$(window).scroll(() => {
this.onScroll();
});
$(window).resize(() => {
this.onResize();
});
}

onTabClick(event, element) {
event.preventDefault();
let scrollTop = $(element.attr("href")).offset().top - this.tabContainerHeight + 1;
$("html, body").animate({
scrollTop: scrollTop
}, 600);
}

onScroll() {
this.checkHeaderPosition();
this.findCurrentTabSelector();
this.lastScroll = $(window).scrollTop();
}

onResize() {
if (this.currentId) {
this.setSliderCss();
}
}

checkHeaderPosition() {
const headerHeight = 75;
if ($(window).scrollTop() > headerHeight) {
$(".header").addClass("header--scrolled");
} else {
$(".header").removeClass("header--scrolled");
}
let offset = $(".nav").offset().top + $(".nav").height() - this.tabContainerHeight - headerHeight;
if ($(window).scrollTop() > this.lastScroll && $(window).scrollTop() > offset) {
$(".header").addClass("et-header--move-up");
$(".nav-container").removeClass("nav-container--top-first");
$(".nav-container").addClass("nav-container--top-second");
} else if ($(window).scrollTop() < this.lastScroll && $(window).scrollTop() > offset) {
$(".header").removeClass("et-header--move-up");
$(".nav-container").removeClass("nav-container--top-second");
$(".et-hero-tabs-container").addClass("et-hero-tabs-container--top-first");
} else {
$(".header").removeClass("header--move-up");
$(".nav-container").removeClass("nav-container--top-first");
$(".nav-container").removeClass("nav-container--top-second");
}
}

findCurrentTabSelector(element) {
let newCurrentId;
let newCurrentTab;
let self = this;
$(".nav-tab").each(function () {
let id = $(this).attr("href");
let offsetTop = $(id).offset().top - self.tabContainerHeight;
let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
if ($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
newCurrentId = id;
newCurrentTab = $(this);
}
});
if (this.currentId != newCurrentId || this.currentId === null) {
this.currentId = newCurrentId;
this.currentTab = newCurrentTab;
this.setSliderCss();
}
}

setSliderCss() {
let width = 0;
let left = 0;
if (this.currentTab) {
width = this.currentTab.css("width");
left = this.currentTab.offset().left;
}
$(".nav-tab-slider").css("width", width);
$(".nav-tab-slider").css("left", left);
}
}

new NavigationPage();



</script>

 






	</head>
	<body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "https://blueskytechmage.com/ohey/static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/images/loader-2.gif"}}' id="html-body" class="bluesky-page-preloader contact-index-index page-layout-1column">
		<div class="enable-sticky-header"></div>

		 

		 

		<div id="newsletter_pop_up" class="newsletterpopup">
			<a href="javascript: void(0);" class="btn-close newletter_popup_close">
				<span></span>
			</a>
			<div class="col-newsletter-popup col-content">
				<div class="col-img-bg-pupup"></div>
				<div class="content-popup">
					<div class="content">
						<h2>Get Our Email Letter</h2>
						<p>Subscribe to the Ohey mailing list to receive updates on new arrivals, special offers and other discount information.</p>
					</div>
					<form class="form subscribe" novalidate action="https://blueskytechmage.com/ohey/en11/newsletter/subscriber/new/" method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="newsletter-validate-popup">
						<div class="field newsletter">
							<div class="control">
								<input name="email" type="email" id="newsletter-popup" placeholder="Enter your email address" data-validate="{required:true, 'validate-email':true}"/>
							</div>
						</div>
						<div class="actions">
							<button class="action subscribe primary" title="Subscribe" type="submit">
								<span>Subscribe</span>
							</button>
						</div>
						<div class="subscribe-bottom flex-layout no-wrap center">
							<div class="input-check-box">
								<input type="checkbox" id="newsletter_popup_dont_show_again">
								<span class="checkmark"></span>
							</div>
							<label for="newsletter_popup_dont_show_again">Do not show this popup again</label>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			require(["jquery"], function ($) {
function setCookie(name, value, days) {
if (days) {
var date = new Date();
date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
var expires = "; expires=" + date.toGMTString();
} else 
var expires = "";

document.cookie = name + "=" + value + expires + "; path=/";
}
function getCookie(name) {
var nameEQ = name + "=";
var ca = document.cookie.split(';');
for (var i = 0; i < ca.length; i++) {
var c = ca[i];
while (c.charAt(0) == ' ') 
c = c.substring(1, c.length);

if (c.indexOf(nameEQ) == 0) 
return c.substring(nameEQ.length, c.length);

}
return null;
}
$(document).ready(function () {
if ($("body").hasClass("cms-index-index")) {
if (getCookie("shownewsletter") != 1) {
var height_window = $(window).height();
var height_pupup = 372;
var fixed_height = (height_window - height_pupup) / 2;
var pPopup = $('#newsletter_pop_up').bPopup({
position: [
'auto', fixed_height
],
speed: 500,
transition: 'slideDown',
onClose: function () {}
});
$('.newletter_popup_close').on('click', function () {
pPopup.close();
});
}
$("#newsletter_pop_up form").submit(function (event) {
setCookie("shownewsletter", '1', 1);
});
$('#newsletter_popup_dont_show_again').on('change', function () {
if (getCookie("shownewsletter") != 1) {
setCookie("shownewsletter", '1', 1)
} else {
setCookie("shownewsletter", '0', 1)
}
});
}
});
});
		</script>



<!-- ================== BUTTONS STYLING =========================== -->
<style>
	.buttnz {
		padding: 12px 25px;
		border-radius: 4px;
		text-decoration: none;
		background-color: #fdb819;
		box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
		margin-top: 50px;
		transition: all 0.2s ease-in-out;
		border: 1px #fdb819;
		font-size: 20px; 
		font-family : Mark\ Pro,sans-serif;
	}


	.buttnz:hover {
		color: #ECECEC;
		transform: scale(1.03);
	}
	
	.nodeco {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}

	.nodeco:hover {
		background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	}

	.nodeco:active {
		background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	}
</style>

<!-- ================== END BUTTONS STYLING =========================== -->






 

		<div class="page-wrapper lazyload-image">
			<header class="page-header">
				<div class="header-container layout-11">
					<div class="topbar">
						<div class="topbar-inner ">
							<div class="container-fluid">
								<div class="flex-layout space-between center_vertical center-mobile">
									<div class=" topbar-contact-email hidden-sm">
										<p class="phone">
											<a href="tel:393525684593">Need Help? +44 (0) 123 4567</a>
										</p>
										<p class="email">
											<a href="mailto:hello@domain.com">support@ohey.com</a>
										</p>
									</div>
									<div class="col-right flex-layout center_vertical">
										<div class="contact-store hidden-sm">
											<a href="../store-locator.html">
												Find a Store</a>
										</div>
										<div class="language-currency">
											<div class="container-setting-language-currency">
												<div class="switcher currency switcher-currency" id="switcher-currency">
													<strong class="label switcher-label">
														<span>Currency</span>
													</strong>
													<div class="actions dropdown options switcher-options">
														<div class="action toggle switcher-trigger" id="switcher-currency-trigger" data-mage-init='{"dropdown":{}}' data-toggle="dropdown" data-trigger-keypress-button="true">
															<strong class="language-USD">
																<span>USD - US Dollar</span>
															</strong>
														</div>
														<ul class="dropdown switcher-dropdown" data-target="dropdown">
															<li class="currency-EUR switcher-option">
																<a href="#" data-post='{"action":"https:\/\/blueskytechmage.com\/ohey\/en11\/directory\/currency\/switch\/","data":{"currency":"EUR","uenc":"aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9jb250YWN0Lw,,"}}'>EUR - Euro</a>
															</li>
														</ul>
													</div>
												</div>

											</div>
										</div>
										<ul class="social-link-header hidden-xs">
											<li>
												<a href="#">
													<span class="icon-facebook-f">
														<span class="text">Facebook</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-instagram">
														<span class="text">instagram</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-twitter">
														<span class="text">twitter</span>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header-middle">
						<div class="header">
							<div class="container-fluid">
								<div class="flex-layout space-between header-top center_vertical">
									<div class="logo-container">
										<div class="logo-site">
											<span data-action="toggle-nav" class="action nav-toggle">
												<span>Toggle Nav</span>
											</span>
											<a class="logo" href="../index.html" title="" aria-label="store logo">
												<img src="../../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/logo/stores/15/xlogo.png.pagespeed.ic.yMZPYmpp-3.png" title="" alt=""/>
											</a>
										</div>
									</div>
									<div class="top-search-not-dropdown">
										<div class="block block-search">
											<div class="block-content">
												<div class="dropdown">
													<div class="dropdown-toggle">
														<div class="top-search">
															<i class="icon-search2"></i>
														</div>
													</div>
													<form class="form minisearch search-content cat-search" id="search_mini_form" action="https://blueskytechmage.com/ohey/en11/catalogsearch/result/" method="get">
														<div class="search-form">
															<div class="field-by-cat-search hidden-xs">
																<select name="cat" id="choose_category">
																	<option value="">All Categories</option>
																	<option value="157">Engine Systems</option>
																	<option value="159">Interior</option>
																	<option value="160">Performance</option>
																	<option value="128">Shop</option>
																	<option value="161">Lighting</option>
																	<option value="162">Wheels & Tires</option>
																	<option value="163">Exterior</option>
																	<option value="164">Repair Parts</option>
																	<option value="165">Body Parts</option>
																	<option value="166">Audios & Electronic</option>
																	<option value="167">Oils & Fluids</option>
																	<option value="168">
																		Brake Systems</option>
																</select>
															</div>
															<div class="field search">
																<label class="label" for="search-input-autocomplate" data-role="minisearch-label">
																	<span>Search</span>
																</label>
																<div class="control">
																	<input id="search-input-autocomplate" data-mage-init='{"quickSearch":{
																												"formSelector":"#search_mini_form",
																												"url":"https://blueskytechmage.com/ohey/en11/search/ajax/suggest/",
																												"destinationSelector":"#search_autocomplete"}
																										   }' type="text" name="q" value="" placeholder="Search entire store here..." class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" aria-expanded="false" autocomplete="off"/>
																	<div id="search_autocomplete" class="search-autocomplete"></div>
																	<div data-bind="scope: 'searchsuiteautocomplete_form'"><!-- ko template: getTemplate() -->
																		<!-- /ko -->
																	</div>
																</div>
																<div class="actions">
																	<button type="submit" title="Search" class="action search">
																		<span>Search</span>
																	</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
										<script>
											require([
'jquery', 'rokanthemes/choose'
], function ($) {
'use strict';
$("#choose_category").chosen();
});
										</script>
										<script>
											require(['jquery'], function ($) {
'use strict';
$(document).ready(function () {
$('.block-search .dropdown-toggle > .top-search').click(function (event) {
$('.block-search #search_mini_form').slideToggle();
$('#search-input-autocomplate').focus();
});
});
});
										</script>
										<script type="text/x-magento-init">
											{
											    "*": {
											        "Magento_Ui/js/core/app": {
											            "components": {
											                "searchsuiteautocomplete_form": {
											                    "component": "MageWorx_SearchSuiteAutocomplete/js/autocomplete"
											                },
											                "searchsuiteautocompleteBindEvents": {
											                    "component": "MageWorx_SearchSuiteAutocomplete/js/bindEvents",
											                    "config": {
											                        "searchFormSelector": "#search_mini_form",
											                        "searchButtonSelector": "button.search",
											                        "inputSelector": "#search, #mobile_search, .minisearch .search input[type=\"text\"]",
											                        "searchDelay": "500"
											                    }
											                },
											                "searchsuiteautocompleteDataProvider": {
											                    "component": "MageWorx_SearchSuiteAutocomplete/js/dataProvider",
											                    "config": {
											                        "url": "https://blueskytechmage.com/ohey/en11/mageworx_searchsuiteautocomplete/ajax/index/"
											                    }
											                }
											            }
											        }
											    }
											}
										</script>
									</div>
									<div class="col-action col-right">
										<ul class="flex-layout action-header center_vertical">
											<li>
												<ul class="header links">
													<li class="link authorization-link" data-label="or">
														<a href="../customer/account/login/referer/aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9jb250YWN0Lw%2c%2c/index.html">Sign In</a>
													</li>
													<li>
														<a href="../customer/account/create/index.html" id="idrb6hAk8J">Create an Account</a>
													</li>
												</ul>
											</li>
											<li class="link wishlist" data-bind="scope: 'wishlist'">
												<a href="../wishlist/index.html"></a>
											</li>
											<script type="text/x-magento-init">
												{
												        "*": {
												            "Magento_Ui/js/core/app": {
												                "components": {
												                    "wishlist": {
												                        "component": "Magento_Wishlist/js/view/wishlist"
												                    }
												                }
												            }
												        }
												    }

											</script>
											<li class="minicart-li-content-show-hide">

												<div data-block="minicart" class="minicart-wrapper">
													<a class="action showcart" href="../checkout/cart/index.html" data-bind="scope: 'minicart_content'">
														<span
															class="counter qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
															<!-- <span class="icon-cart-header"><i class="menu-icon  icon flaticon-shopping-cart6">&nbsp;</i></span> -->
															<span class="total-mini-cart-item">
																<!-- ko if: getCartParam('summary_count') -->
																<!-- ko text: getCartParam('summary_count') -->
																<!-- /ko -->
																<!-- /ko -->
																<!-- ko if: !getCartParam('summary_count') -->
															0
																<!-- /ko -->
															</span>
														</span>
														<span class="mini-cart-text">
															<span
																class="content-cart hidden-xs">
																<!-- ko if: getCartParam('subtotal') -->
																<span class="total-mini-cart-price" data-bind="html: getCartParam('subtotal')"></span>
																<!-- /ko -->
																<!-- ko if: !getCartParam('subtotal') -->
																<span class="total-mini-cart-price">
																	<span class="price">$0.00</span>
																</span>
																<!-- /ko -->
															</span>
														</span>
													</a>
													<div class="block block-minicart" data-role="dropdownDialog" data-mage-init='{"dropdownDialog":{
															                "appendTo":"[data-block=minicart]",
															                "triggerTarget":".showcart",
															                "timeout": "2000",
															                "closeOnMouseLeave": false,
															                "closeOnEscape": true,
															                "triggerClass":"active",
															                "parentClass":"active",
															                "buttons":[]}}'>
														<div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'"><!-- ko template: getTemplate() -->
															<!-- /ko -->
														</div>
													</div>
													<script>
														window.checkout = {
"shoppingCartUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/cart\/",
"checkoutUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/",
"updateItemQtyUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/sidebar\/updateItemQty\/",
"removeItemUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/sidebar\/removeItem\/",
"imageTemplate": "Magento_Catalog\/product\/image_with_borders",
"baseUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/",
"minicartMaxItemsVisible": 5,
"websiteId": "5",
"maxItemsToDisplay": 10,
"storeId": "15",
"storeGroupId": "6",
"customerLoginUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/customer\/account\/login\/referer\/aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9jb250YWN0Lw%2C%2C\/",
"isRedirectRequired": false,
"autocomplete": "off",
"captcha": {
"user_login": {
"isCaseSensitive": false,
"imageHeight": 50,
"imageSrc": "",
"refreshUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/captcha\/refresh\/",
"isRequired": false,
"timestamp": 1643741354
}
}
};
													</script>
													<script type="text/x-magento-init">
														{
														        "[data-block='minicart']": {
														            "Magento_Ui/js/core/app": {"components":{"minicart_content":{"children":{"subtotal.container":{"children":{"subtotal":{"children":{"subtotal.totals":{"config":{"display_cart_subtotal_incl_tax":0,"display_cart_subtotal_excl_tax":1,"template":"Magento_Tax\/checkout\/minicart\/subtotal\/totals"},"children":{"subtotal.totals.msrp":{"component":"Magento_Msrp\/js\/view\/checkout\/minicart\/subtotal\/totals","config":{"displayArea":"minicart-subtotal-hidden","template":"Magento_Msrp\/checkout\/minicart\/subtotal\/totals"}}},"component":"Magento_Tax\/js\/view\/checkout\/minicart\/subtotal\/totals"}},"component":"uiComponent","config":{"template":"Magento_Checkout\/minicart\/subtotal"}}},"component":"uiComponent","config":{"displayArea":"subtotalContainer"}},"item.renderer":{"component":"Magento_Checkout\/js\/view\/cart-item-renderer","config":{"displayArea":"defaultRenderer","template":"Magento_Checkout\/minicart\/item\/default"},"children":{"item.image":{"component":"Magento_Catalog\/js\/view\/image","config":{"template":"Magento_Catalog\/product\/image","displayArea":"itemImage"}},"checkout.cart.item.price.sidebar":{"component":"uiComponent","config":{"template":"Magento_Checkout\/minicart\/item\/price","displayArea":"priceSidebar"}}}},"extra_info":{"component":"uiComponent","config":{"displayArea":"extraInfo"}},"promotion":{"component":"uiComponent","config":{"displayArea":"promotion"}}},"config":{"itemRenderer":{"default":"defaultRenderer","simple":"defaultRenderer","virtual":"defaultRenderer"},"template":"Magento_Checkout\/minicart\/content"},"component":"Magento_Checkout\/js\/view\/minicart"}},"types":[]}        },
														        "*": {
														            "Magento_Ui/js/block-loader": "https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fstatic\u002Fversion1640184821\u002Ffrontend\u002Fbluesky\u002Fbluesky_ohey_carparts_01\u002Fen_US\u002Fimages\u002Floader\u002D1.gif"
														        }
														    }
													</script>
												</div>


											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header-bottom sticky-header center-element">
						<div class="header">
							<div class="container-fluid">
								<div class="flex-layout space-between center_vertical">
									<div class="col-left logo-sticky" style="max-width: none;">
										<a href="../index.html" class="sticky-logo" title="Logo">
											<img src="../../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/rokanthemes/stickylogo/stores/15/xlogo.png.pagespeed.ic.yMZPYmpp-3.png" alt="Logo"/>
										</a>
									</div>
									<div class="primary-menu-container ">
										<span data-action="toggle-nav" class="action nav-toggle d-xl-none sticky-toggle">
											<span>Toggle Nav</span>
										</span>
										<div class="navigation custommenu main-nav nav-sections " role="navigation">
											<div class="close-menu-mobile">
												<a href="#" id="close-menu">Close</a>
											</div>
											<div class="menu-mobile-title d-block d-xl-none">
												<a class="active" data-menu="custommenu-list" href="#">Menu</a>
											</div>
											<ul class="custommenu-list menu">

												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="/">Home</a>
												</li>
												
												<li class="ui-menu-item level0  classic menu-item-has-children parent">
													<a class="level-top">Page</a>
													<div class="open-children-toggle">&nbsp;</div>
													<div class="level0 submenu">
														<div class="row">
															<ul class="subchildmenu ">
																<li class="ui-menu-item level2 ">
																	<a href="#">Store Locator</a>
																</li> 
															</ul>
														</div>
													</div>
												</li>
												<li class="ui-menu-item level0">
													<a class="level-top" href="{{path('blog')}}">Blog</a>
												</li>
												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('produit')}}">Products</a>
												</li>
												{# <li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('event_front')}}">Events</a>
												</li> #}
												<li class="ui-menu-item level0  classic menu-item-has-children parent">
													<a class="level-top">Events</a>
													<div class="open-children-toggle">&nbsp;</div>
													<div class="level0 submenu">
														<div class="row">
															<ul class="subchildmenu ">
																<li class="ui-menu-item level2 ">
																	<a href="{{path('event_front')}}">Events List</a>
																</li>
																<li class="ui-menu-item level2 ">
																	<a href="{{path('calendar_user')}}">Calendar</a>
																</li>
																
															</ul>
														</div>
													</div>
												</li>
												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('reclamation')}}">Contact us</a>
												</li>

												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="about-us/index.html">About us</a>
												</li>
												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('news')}}">News</a>
												</li>

												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('crypto')}}">Crypto</a>
												</li>

												<li class="my_account_link_custom ui-menu-item level0 classic">
													<a href="customer/account/index.html" title="My Account" class="level-top">My Account</a>
												</li>


											</ul>
										</div>
									</div>
									<script>
										require([
'jquery', 'rokanthemes/custommenu'
], function ($) {
$(".custommenu").CustomMenu();
$(document).ready(function () {
$(document).on('click', '.custommenu .menu-mobile-title a', function () {
var data = $(this).data('menu');
$('.custommenu .menu-mobile-title a').removeClass('active');
$(this).addClass('active');
$('.custommenu ul.menu').hide();
$(this).closest('.custommenu').find('ul.menu.' + data + '').show();
return false;
});
});
});
									</script>
									<div class="col-action col-right show-on-sticky action-sticky">
										<ul class="flex-layout action-header center_vertical ">
											<li>
												<ul class="header links">
													{% if not app.user %}
													<li class="link authorization-link" data-label="or">
												
														<a href="{{ path('security_login') }}">Sign In</a>
													

										
													    {% else %}
													
														<li class="link authorization-link" data-label="or">
														<a href="{{ path('security_logout') }}">Sign Out</a>
															</li>
												
														  {% endif %}
												</ul>
											</li>
											<li class="link wishlist" data-bind="scope: 'wishlist'">
												{% if is_granted('ROLE_ADMIN') %}
													<li> <a href="{{path('liste_utilisateurs')}}">Admin</a> </li>
													
											{% endif %}
									  		{% if is_granted('ROLE_CLIENT') %}
													<li> <a href="{{path('account')}}">Account</a> </li>
											{% endif %}
											</li>
											<script type="text/x-magento-init">
												{
												        "*": {
												            "Magento_Ui/js/core/app": {
												                "components": {
												                    "wishlist": {
												                        "component": "Magento_Wishlist/js/view/wishlist"
												                    }
												                }
												            }
												        }
												    }

											</script>
											<li class="minicart-li-content-show-hide">

												<div data-block="minicart" class="minicart-wrapper">
													<a class="action showcart" href="../checkout/cart/index.html" data-bind="scope: 'minicart_content'">
														<span
															class="counter qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
															<!-- <span class="icon-cart-header"><i class="menu-icon  icon flaticon-shopping-cart6">&nbsp;</i></span> -->
															<span class="total-mini-cart-item">
																<!-- ko if: getCartParam('summary_count') -->
																<!-- ko text: getCartParam('summary_count') -->
																<!-- /ko -->
																<!-- /ko -->
																<!-- ko if: !getCartParam('summary_count') -->
															0
																<!-- /ko -->
															</span>
														</span>
														<span class="mini-cart-text">
															<span
																class="content-cart hidden-xs">
																<!-- ko if: getCartParam('subtotal') -->
																<span class="total-mini-cart-price" data-bind="html: getCartParam('subtotal')"></span>
																<!-- /ko -->
																<!-- ko if: !getCartParam('subtotal') -->
																<span class="total-mini-cart-price">
																	<span class="price">$0.00</span>
																</span>
																<!-- /ko -->
															</span>
														</span>
													</a>
													<div class="block block-minicart" data-role="dropdownDialog" data-mage-init='{"dropdownDialog":{
															                "appendTo":"[data-block=minicart]",
															                "triggerTarget":".showcart",
															                "timeout": "2000",
															                "closeOnMouseLeave": false,
															                "closeOnEscape": true,
															                "triggerClass":"active",
															                "parentClass":"active",
															                "buttons":[]}}'>
														<div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'"><!-- ko template: getTemplate() -->
															<!-- /ko -->
														</div>
													</div>
													<script>
														window.checkout = {
"shoppingCartUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/cart\/",
"checkoutUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/",
"updateItemQtyUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/sidebar\/updateItemQty\/",
"removeItemUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/sidebar\/removeItem\/",
"imageTemplate": "Magento_Catalog\/product\/image_with_borders",
"baseUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/",
"minicartMaxItemsVisible": 5,
"websiteId": "5",
"maxItemsToDisplay": 10,
"storeId": "15",
"storeGroupId": "6",
"customerLoginUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/customer\/account\/login\/referer\/aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9jb250YWN0Lw%2C%2C\/",
"isRedirectRequired": false,
"autocomplete": "off",
"captcha": {
"user_login": {
"isCaseSensitive": false,
"imageHeight": 50,
"imageSrc": "",
"refreshUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/captcha\/refresh\/",
"isRequired": false,
"timestamp": 1643741354
}
}
};
													</script>
													<script type="text/x-magento-init">
														{
														        "[data-block='minicart']": {
														            "Magento_Ui/js/core/app": {"components":{"minicart_content":{"children":{"subtotal.container":{"children":{"subtotal":{"children":{"subtotal.totals":{"config":{"display_cart_subtotal_incl_tax":0,"display_cart_subtotal_excl_tax":1,"template":"Magento_Tax\/checkout\/minicart\/subtotal\/totals"},"children":{"subtotal.totals.msrp":{"component":"Magento_Msrp\/js\/view\/checkout\/minicart\/subtotal\/totals","config":{"displayArea":"minicart-subtotal-hidden","template":"Magento_Msrp\/checkout\/minicart\/subtotal\/totals"}}},"component":"Magento_Tax\/js\/view\/checkout\/minicart\/subtotal\/totals"}},"component":"uiComponent","config":{"template":"Magento_Checkout\/minicart\/subtotal"}}},"component":"uiComponent","config":{"displayArea":"subtotalContainer"}},"item.renderer":{"component":"Magento_Checkout\/js\/view\/cart-item-renderer","config":{"displayArea":"defaultRenderer","template":"Magento_Checkout\/minicart\/item\/default"},"children":{"item.image":{"component":"Magento_Catalog\/js\/view\/image","config":{"template":"Magento_Catalog\/product\/image","displayArea":"itemImage"}},"checkout.cart.item.price.sidebar":{"component":"uiComponent","config":{"template":"Magento_Checkout\/minicart\/item\/price","displayArea":"priceSidebar"}}}},"extra_info":{"component":"uiComponent","config":{"displayArea":"extraInfo"}},"promotion":{"component":"uiComponent","config":{"displayArea":"promotion"}}},"config":{"itemRenderer":{"default":"defaultRenderer","simple":"defaultRenderer","virtual":"defaultRenderer"},"template":"Magento_Checkout\/minicart\/content"},"component":"Magento_Checkout\/js\/view\/minicart"}},"types":[]}        },
														        "*": {
														            "Magento_Ui/js/block-loader": "https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fstatic\u002Fversion1640184821\u002Ffrontend\u002Fbluesky\u002Fbluesky_ohey_carparts_01\u002Fen_US\u002Fimages\u002Floader\u002D1.gif"
														        }
														    }
													</script>
												</div>


											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel wrapper">
					<div class="panel header">
						<a class="action skip contentarea" href="#contentarea">
							<span>
								Skip to Content
							</span>
						</a>
					</div>
				</div>
			</header>



            <!--============== MAIN ========================= -->
			<main id="maincontent"  >

            <!-- ================ TOP =============================== -->
				<section class="nav" style="width:100% ; height : 380px  ;  background-image: linear-gradient(to bottom right, #FDF395,#dc4225);">
         
                    <h1>METATECH CRYPTO MARKET</h1>
                    <h3 class="span loader">
                        <span class='m'>B</span>
                        <span class='m'>A</span>
                        <span class='m'>S</span>
                        <span class='m'>E</span>
                        <span class='m'>D</span>
                        <span class='m'>&nbsp;</span>
                        <span class='m'>O</span>
                        <span class='m'>N</span>
                        <span class='m'>&nbsp;</span>
                        <span class='m'>B</span>
                        <span class='m'>L</span>
                        <span class='m'>O</span>
                        <span class='m'>C</span>
                        <span class='m'>K</span>
                        <span class='m'>C</span>
                        <span class='m'>H</span>
                        <span class='m'>A</span>
                        <span class='m'>I</span>
                        <span class='m'>N</span>
                        <!--span class='m'>O</span>
                        <span class='m'>G</span>

                        <span class='m'>I</span>
                        <span class='m'>E</span>
                        <span class='m'>S</span-->
                    </h3>


                    

                     
                </section>
					<center>
						<table style="width : 50% ; margin-top : -10px ; margin-bottom : 10px ; ">
							<tr>
								<td VALIGN="center" ALIGN="center">
 									<img style="width : 90px ;  height : 90px" src="https://icon-library.com/images/bitcoin-icon/bitcoin-icon-10.jpg">
								</td>
								
								<td VALIGN="center" ALIGN="center">
									<img style="width : 80px ;  height : 80px" src="https://cryptologos.cc/logos/ethereum-eth-logo.png">
								</td>

								<td VALIGN="center" ALIGN="center">
									<img style="width : 80px ;  height : 75px" src="https://www.pngall.com/wp-content/uploads/10/Binance-Coin-Crypto-Logo-PNG-Photos.png">
								</td>

								<td VALIGN="center" ALIGN="center">
									<img style="width : 90px ;  height : 90px" src="https://cdn-icons-png.flaticon.com/512/6001/6001859.png">
								</td>

								<td VALIGN="center" ALIGN="center">
									<img style="width : 78px ;  height : 78px" src="https://www.shareicon.net/data/2016/07/08/117526_ripple_512x512.png">
								</td>

								<td VALIGN="center" ALIGN="center">
									<img style="width : 100px ;  height : 100px" src="https://cdn1.iconfinder.com/data/icons/crypto-currencies-top100/64/LUNA_4172-512.png">
								</td>
							</tr>
 
						</table>
					</center>
                
				 
                <canvas class="background"></canvas>


                <center>
                    <div class="row">
                        <div class="column" style="padding-left : 8% ; ">
                            <div class="card">
                                <center>
                                <div style="width : 80% ; text-align : center ; ">

                                    <div style="margin-top : 50px ; font-family: 'Karla', sans-serif;
                                        color: #848484 !important;
                                        font-weight : bold ; 
                                        font-size: 20px;
                                        line-height: 22px; margin-bottom : 50px ; ">
                                        Welcome to our crypto currency supported marketplace. 
                                        <br> 
                                        Make sure to have an activated MetaMask account, the tool to access the new layer of the web, powered by Etherum Blockchain.
                                    </div>
 

                                    <a href="https://microsoftedge.microsoft.com/addons/detail/metamask/ejbalbakoplchlghecdalmeeeajnimhm?hl=en-US" target="_blank" class="buttonmetamask" style="color : white ; padding : 15px ; padding-right : 20px ; padding-left : 20px ;  " > Download Now </a>

                                <div>
                                <img src="https://miro.medium.com/max/1400/1*dFAgmUu_MDAvWU-YS3oIFA.png" alt="Grapefruit slice atop a pile of other slices">



                                    </div>
                                </div>

                                <!--======= METMASK HEAD ===========-->    

                                




                                </center>
                            </div> 
                        </div>
                        <div class="column " style="padding-right : 8% ; ">
                            <div class="card">
                                <center>
                                    <iframe width="98%" height="430" src="https://www.youtube.com/embed/YVgfHZMFFFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </center>
                            </div>
                        </div> 
                    </div>
                </center>


				<!-- ==================== TABLE =================== -->
				<center style="margin-top : 80px ; ">
				<H3>TOP 10 CRYPTO CURRENCIES </H3>
				<H5>- BASED ON MARKET CAP -</H5>
				<div class="limiter" style="width : 84% ; margin-top : 50px ; padding : 20px ; background-color : #F6F4E8; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ">

					 
					<table style="   ">
						<thead>
							<tr class="table100-head">
								<th class="column1">Rank</th>
								<th class="column2">Name</th>
								<th class="column3">Price</th>
								<!--th class="column4">24H</th>
								<th class="column5">7D</th-->
								<th class="column6">Market Cap</th>
								<th class="column6">Volume</th>
								<th class="column6">Circulating Supply</th>
							</tr>
						</thead>
						<tbody>

						{% for table in tables %}
							<tr>
								<td class="column1">{{table.rank}}</td>
								<td class="column2">{{table.name}}</td>
								<td class="column3">{{table.price}}</td>
								 
								 
								<td class="column6">{{table.marketCap}}</td>
								<td class="column6">{{table.volume}}</td>
								<td class="column6">{{table.circulatingSupply}}</td> 


							</tr>
						{% endfor %}
							 
						</tbody>
					</table>
							 
				</div>


				

				<div style="margin-top : 30px ; "></div>


				<form action="{{path('crypto_products')}}">
					<input type="submit" value="Start Shopping"  class="buttnz"> 
				</form>

				</center>

				 


                <div style="height : 300px ;  "></div>


 



			</main>



















<style>
	/* =============================== CHATBOT ============================= */


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 420px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #fdb819; 
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 
 
.containe{
	width : 400px ; 
	height : 400px ; 
	overflow : auto ; 
	border : 1px solid #E6E4E1 ; 
}

.bot {
	background-image: linear-gradient(to bottom right, #FFDB5F,#dc4225); 
	border-radius : 15px ; 
	padding : 4px ; 
	width : 300px ;
	color : black ;
	margin : 2px ;
	border-top-left-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.botSender {
	background : #F7E3C3 ;
	border-radius : 10px ; 
	padding : 4px 6px 4px 6px ; 
	border : 1px solid black ; 
	margin : 2px ; 
	font-size: 15px; 
 	font-family : Mark\ Pro,sans-serif;
	
}

.botSender:hover {
	background : #FFCF84 ;
	border-radius : 10px ; 
	padding : 4px 6px 4px 6px ;  
	border : 1px solid black ; 
	margin : 2px ; 
	font-size: 15px; 
 	font-family : Mark\ Pro,sans-serif;
}
.botText {	
	margin : 2px ; 
	font
	color : black ;
	font-size: 16px; 
 	font-family : Mark\ Pro,sans-serif; 
}


/* ============== CLIENT ================ */
.client {
	background-image: linear-gradient(to bottom right, #FDFCE9,#F5F0AF); 
	border-radius : 15px ; 
	padding : 4px ; 
	width : 300px ;
	color : black ;
	margin : 8px ; 
	border-top-right-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	float : right ; 

}

.cancelButton {
	padding : 0px 8px 0px 8px ;
	border : 1px solid black ; 
	background-color : red; 
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	float : right ; 
	background-image: linear-gradient(to bottom right, #FF7E75,#E9C5C2); 
}

.cancelButton:hover {
	padding : 0px 8px 0px 8px ;
	border : 1px solid black ; 
	background-color : red; 
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	float : right ; 
	background-image: linear-gradient(to bottom right, #FF7E75,#E9C5C2); 
}
 

</style>

<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
	<div action="/action_page.php" class="form-container">
		<button class="nodeco cancelButton" onclick="closeForm()">
			  -  
		</button>

		
		<table style="width :60% ; ">
			<tr>
				<td valign="center" align="left"><img style="width : 26px ; height : 40px" src="https://www.pngall.com/wp-content/uploads/10/Ethereum-Logo-PNG-HD-Image.png"></td>
				<td valign="center">
					<h4 >Crypto Chatbot</h4>
				</td>
				
			</tr>
		</table>


		<label for="msg">
			<b> </b>
		</label>
		<!--textarea placeholder="Type message.." name="msg" required></textarea-->

		<div class="containe" id="chat">
			<div class="bot">
				<div class="botText">
					Hello, how can we help you ?
				</div>
				<button class="nodeco botSender" onclick="botReply(this.value)" value="1" id="convert">Convert ETH to USD</button>
				<button class="nodeco botSender" onclick="botReply(this.value)" value="3" id="info">What is MetaMask ?</button>
				<button class="nodeco botSender" onclick="botReply(this.value)" value="2" id="download">Where can I download MetaMask ?</button>
			</div>
 

		</div>

		<div style="height : 40px ; ">
			 
		</div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>
	function openForm() {
		document.getElementById("myForm").style.display = "block";
	}

	function closeForm() {
		document.getElementById("myForm").style.display = "none";
	}

	function botReply(value) {
		if (value==2) {

			// ========== client ==========
			var containe = document.createElement("div");
			containe.classList.add('client');

			var message = document.createElement("div");
			message.classList.add('botText');

			var text2 = document.getElementById("download").innerHTML ; 

			var text = document.createTextNode(text2);
			message.appendChild(text);

			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);	

			var newElem1 = document.createElement("BR");
			var newElem2 = document.createElement("BR");
			var newElem3 = document.createElement("BR");
			element.appendChild(newElem1) ; 
			element.appendChild(newElem2) ; 
			element.appendChild(newElem3) ; 

			// ======== bot =================

			var containe = document.createElement("div");
			containe.classList.add('bot');

			var message = document.createElement("div");
			message.classList.add('botText'); 

			var text = document.createTextNode("You can download Metamask here : ");
			message.appendChild(text);

			var a = document.createElement('a');
			var linkText = document.createTextNode("Download Link");
			a.appendChild(linkText);
			//a.title = "my title text";
			a.href = "https://microsoftedge.microsoft.com/addons/detail/metamask/ejbalbakoplchlghecdalmeeeajnimhm?hl=en-US";
			a.style="color : white ; " ; 
			a.target="_blank" ; 
			message.appendChild(a);

			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);
			


		} else if (value=="1") {
			// ========== client ==========
			var containe = document.createElement("div");
			containe.classList.add('client');

			var message = document.createElement("div");
			message.classList.add('botText');

			var text2 = document.getElementById("convert").innerHTML ; 

			var text = document.createTextNode(text2);
			message.appendChild(text);

			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);	

			var newElem1 = document.createElement("BR");
			var newElem2 = document.createElement("BR");
			var newElem3 = document.createElement("BR");
			element.appendChild(newElem1) ; 
			element.appendChild(newElem2) ; 
			element.appendChild(newElem3) ; 

			// ======== bot =================

			const settings = {
				"async": true,
				"crossDomain": true,
				"url": "https://crypto-price-feed.p.rapidapi.com/api/crypto-feed",
				"method": "GET",
				"headers": {
					"x-rapidapi-host": "crypto-price-feed.p.rapidapi.com",
					"x-rapidapi-key": "ffccef661fmsh65d228e6a669cf1p1aba63jsne6686937e077"
				}
			};

			var price = "" ; 
			$.ajax(settings).done(function (response) {
				price = response["result"][1]["price"] ; 
				console.log(price) ; 

				var containe = document.createElement("div");
				containe.classList.add('bot');

				var message = document.createElement("div");
				message.classList.add('botText'); 

				var text = document.createTextNode(price);
				message.appendChild(text); 

				containe.appendChild(message);
				var element = document.getElementById("chat");
				element.appendChild(containe);
			});
 
		} else if (value=="3") {
			// ========== client ==========
			var containe = document.createElement("div");
			containe.classList.add('client');

			var message = document.createElement("div");
			message.classList.add('botText');

			var text2 = document.getElementById("info").innerHTML ; 

			var text = document.createTextNode(text2);
			message.appendChild(text);

			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);	

			var newElem1 = document.createElement("BR");
			var newElem2 = document.createElement("BR");
			var newElem3 = document.createElement("BR");
			element.appendChild(newElem1) ; 
			element.appendChild(newElem2) ; 
			element.appendChild(newElem3) ; 

			// ======== bot =================

			var containe = document.createElement("div");
			containe.classList.add('bot');

			var message = document.createElement("div");
			message.classList.add('botText'); 

			var text = document.createTextNode("MetaMask allows users to store and manage account keys, broadcast transactions, send and receive Ethereum-based cryptocurrencies and tokens, and securely connect to decentralized applications through a compatible web browser or the mobile app's built-in browser. ");

			message.appendChild(text);
 

			containe.appendChild(message);
			var element = document.getElementById("chat");
			element.appendChild(containe);

		}
		
	}
</script>

































                <!--========================= FOOTER =====================================-->
				<footer class="page-footer">
					<div id="focus-area"></div>
					<div id="back-top" class="">
						<i class="icon icon-chevrons-up"></i>
					</div>
					<div class="footer-container enable-mobile-menu layout-9">
						<div class="footer-top">
							<div class="footer content">
								<div class="footer-static_link flex-layout space-between">
									<div class="footer-links col-links">
										<img src="../../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/rokanthemes/footerlogo/stores/15/xlogo11_1.png.pagespeed.ic.bSdxIDD9z_.png" alt=""/>
										<p>
											Since 2013 weve been creating industrial design, residential architecture, commercial interiors. Chase mice attack feet but rub face on everything cepteur sint occaecat cupidatat proident.
										</p>
										<h4 class="footer-title">Follow us</h4>
										<ul class="social-link footer-contents">
											<li>
												<a href="#">
													<span class="icon-facebook-f">
														<span class="text">Facebook</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-instagram">
														<span class="text">instagram</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-twitter">
														<span class="text">twitter</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-dribbble">
														<span class="text">dribbble</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-play-circle">
														<span class="text">youtube</span>
													</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="footer-links col-links to_help">
										<h4 class="footer-title">here to help</h4>
										<div class="footer-contents">
											<p>Have a question? You may find an answer in our FAQs.
												But you can also contact us:</p>
											<div class="info_help">
												<div class="info_content info_phone">
													<span class="icon-phone-outgoing">
														<span class="text">phone</span>
													</span>
													<h4>Order by phone</h4>
													<p>Available everyday</p>
													<p class="text_inner text_phone">+391 (0)35 2568</p>
												</div>
												<div class="info_content info_email">
													<span class="icon-mail">
														<span class="text">email</span>
													</span>
													<h4>Email Us</h4>
													<p>Get in touch by email</p>
													<p class="text_inner">support@ohey.com</p>
												</div>
											</div>
										</div>
									</div>
									<div class="footer-links">
										<h4 class="footer-title">Customer Service</h4>
										<ul class="footer-contents">
											<li>
												<a href="#">Help & Contact Us</a>
											</li>
											<li>
												<a href="#">COVID-19 information</a>
											</li>
											<li>
												<a href="#">Orders & Shipping</a>
											</li>
											<li>
												<a href="#">Payment & Pricing</a>
											</li>
											<li>
												<a href="#">Returns & Refunds</a>
											</li>
											<li>
												<a href="#">FAQs</a>
											</li>
											<li>
												<a href="#">Terms & Conditions</a>
											</li>
											<li>
												<a href="#">Privacy Policy</a>
											</li>
											<li>
												<a href="#">Accessibility</a>
											</li>
											<li>
												<a href="#">Contact Us</a>
											</li>
											<li>
												<a href="#">Documentation</a>
											</li>
										</ul>
									</div>
									<div class="footer-links">
										<h4 class="footer-title">About ohey</h4>
										<ul class="footer-contents">
											<li>
												<a href="#">My Account</a>
											</li>
											<li>
												<a href="#">Investors</a>
											</li>
											<li>
												<a href="#">Boutique Partners</a>
											</li>
											<li>
												<a href="#">Affiliate Programme</a>
											</li>
											<li>
												<a href="#">Careers</a>
											</li>
											<li>
												<a href="#">Customer Promise</a>
											</li>
											<li>
												<a href="#">Ohey App</a>
											</li>
											<li>
												<a href="#">Sitemap</a>
											</li>
											<li>
												<a href="#">Positively Ohey</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
						</div>
						<div class="footer-bottom">
							<div class="container-inner border-top">
								<div class="footer content flex-layout space-between center_vertical">
									<small class="copyright">
										<span> Copyright Ohey Limited. All rights reserved.</span>
									</small>

									<div class="footer-payment">
										<div class="flex-layout center_vertical">
											<h4>Secure payments</h4>
											<div class="img_payment"><img src="../../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/wysiwyg/payment.png" alt=""/></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fixed-bottom d-block d-md-none">
						<div class="link-on-bottom">
							<ul class="mobile-bottom-link flex-layout space-between list-unstyled no-wrap">
								<li>
									<a href="../index.html">
										<span class="icon icon-home"></span>Home</a>
								</li>
								<li>
									<a href="../customer/account/index.html">
										<span class="icon icon-user-circle-o"></span>Account</a>
								</li>
								<li>
									<a href="#" class="toggle-nav-footer">
										<span class="icon icon-menu1"></span>Menu</a>
								</li>
								<li>
									<a href="../wishlist/index.html">
										<span class="icon icon-favorite_border"></span>Wishlist</a>
								</li>
								<li>
									<a href="../checkout/cart/index.html">
										<span class="icon icon-cart"></span>Cart</a>
								</li>

							</ul>
						</div>
					</div>
				</footer>
				<script type="text/x-magento-init">
					{
					            "*": {
					                "Magento_Ui/js/core/app": {
					                    "components": {
					                        "storage-manager": {
					                            "component": "Magento_Catalog/js/storage-manager",
					                            "appendTo": "",
					                            "storagesConfiguration" : {"recently_viewed_product":{"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"lifetime":"1000","allowToSendRequest":null},"recently_compared_product":{"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"lifetime":"1000","allowToSendRequest":null},"product_data_storage":{"updateRequestConfig":{"url":"https:\/\/blueskytechmage.com\/ohey\/en11\/rest\/en11\/V1\/products-render-info"},"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"allowToSendRequest":null}}                        }
					                    }
					                }
					            }
					        }
				</script>
				<div class="ajaxsuite-popup-wrapper" id="ajaxsuite-popup-wrapper">
					<a id="ajaxsuite-close" class="ajaxsuite-close"></a>
					<div id="ajaxsuite-popup-content"></div>
				</div>
				<div class="quickview-popup-wrapper" id="quickview-popup-wrapper">
					<a id="quickview-close" class="quickview-close"></a>
					<div id="quickview-popup-content"></div>
				</div>
				<div data-url="https://blueskytechmage.com/ohey/en11/themeoption/fakeorder/getitem/" id="purchase-fake-order" data-seconds-hide="5" data-seconds-displayed="10" class="purchase-order fadeInUp animated hidden-xs" style="display: none;">
					<a class="purchase-close" href="javascript:void(0);"></a>
					<div class="product-purchase"></div>
				</div>
			</div>










			<script>
				require(["jquery"], function ($) {
require(["rokanthemes/lazyloadimg"], function (lazy) {
$("img[data-src]").lazy({
"bind": "event",
"attribute": "data-src",
visibleOnly: true,
threshold: 0,
enableThrottle: true,
throttle: 500,
afterLoad: function (element) {
$(element).addClass("lazy-loaded");
$(element).closest(".absolute-content-image").removeClass("lazyload-content");
setTimeout(function () {
$(element).addClass("transition");
}, 1000);
}
});
$(document).ready(function ($) {
var win = $(window);
$(".owl-carousel").on("translated.owl.carousel", function (event) {
var bounds = $(this).offset();
var viewport = {
top: win.scrollTop(),
left: win.scrollLeft()
};
viewport.bottom = viewport.top + win.height();
if (viewport.bottom > bounds.top) {
$(this).find("img[data-src]").lazy({
"bind": "event",
delay: 0,
afterLoad: function (element) {
$(element).addClass("lazy-loaded");
$(element).closest(".absolute-content-image").removeClass("lazyload-content");
setTimeout(function () {
$(element).addClass("transition");
}, 1000);
}
});
}
});
setTimeout(function () {
$("img[data-src]").each(function () {
if ($(this).is(":hidden")) {
var new_url = $(this).attr("data-src");
$(this).attr("src", new_url);
$(this).removeAttr("data-src");
$(this).addClass("lazy-loaded");
$(this).closest(".absolute-content-image").removeClass("lazyload-content");
setTimeout(function () {
$(this).addClass("transition");
}, 1000);
}
});
}, 1000);
});
});
});
			</script>



<!-- ====================== SCRIPT TOP =============================== -->
<script>
	window.onload = function () {
Particles.init({selector: ".background"});
};
var particles = Particles.init({
selector: ".background",
color: [
"#03dac6", "#ff0266", "#000000"
],
connectParticles: true,
responsive: [
{
breakpoint: 768,
options: {
color: [
"#faebd7", "#03dac6", "#ff0266"
],
maxParticles: 43,
connectParticles: false
}
}
]
});

class NavigationPage {
constructor() {
this.currentId = null;
this.currentTab = null;
this.tabContainerHeight = 70;
this.lastScroll = 0;
let self = this;
$(".nav-tab").click(function () {
self.onTabClick(event, $(this));
});
$(window).scroll(() => {
this.onScroll();
});
$(window).resize(() => {
this.onResize();
});
}

onTabClick(event, element) {
event.preventDefault();
let scrollTop = $(element.attr("href")).offset().top - this.tabContainerHeight + 1;
$("html, body").animate({
scrollTop: scrollTop
}, 600);
}

onScroll() {
this.checkHeaderPosition();
this.findCurrentTabSelector();
this.lastScroll = $(window).scrollTop();
}

onResize() {
if (this.currentId) {
this.setSliderCss();
}
}

checkHeaderPosition() {
const headerHeight = 75;
if ($(window).scrollTop() > headerHeight) {
$(".header").addClass("header--scrolled");
} else {
$(".header").removeClass("header--scrolled");
}
let offset = $(".nav").offset().top + $(".nav").height() - this.tabContainerHeight - headerHeight;
if ($(window).scrollTop() > this.lastScroll && $(window).scrollTop() > offset) {
$(".header").addClass("et-header--move-up");
$(".nav-container").removeClass("nav-container--top-first");
$(".nav-container").addClass("nav-container--top-second");
} else if ($(window).scrollTop() < this.lastScroll && $(window).scrollTop() > offset) {
$(".header").removeClass("et-header--move-up");
$(".nav-container").removeClass("nav-container--top-second");
$(".et-hero-tabs-container").addClass("et-hero-tabs-container--top-first");
} else {
$(".header").removeClass("header--move-up");
$(".nav-container").removeClass("nav-container--top-first");
$(".nav-container").removeClass("nav-container--top-second");
}
}

findCurrentTabSelector(element) {
let newCurrentId;
let newCurrentTab;
let self = this;
$(".nav-tab").each(function () {
let id = $(this).attr("href");
let offsetTop = $(id).offset().top - self.tabContainerHeight;
let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
if ($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
newCurrentId = id;
newCurrentTab = $(this);
}
});
if (this.currentId != newCurrentId || this.currentId === null) {
this.currentId = newCurrentId;
this.currentTab = newCurrentTab;
this.setSliderCss();
}
}

setSliderCss() {
let width = 0;
let left = 0;
if (this.currentTab) {
width = this.currentTab.css("width");
left = this.currentTab.offset().left;
}
$(".nav-tab-slider").css("width", width);
$(".nav-tab-slider").css("left", left);
}
}

new NavigationPage();
</script>






 




 













		</body>
		<!-- Mirrored from blueskytechmage.com/ohey/en11/contact/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Feb 2022 18:57:16 GMT -->
	</body>
</html>

