{% extends 'baseAdmin.html.twig' %}

{% block title %}
	<title>Ajouter Produit</title>
{% endblock %}

{% block body %}


            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        





    
                        <!-- =========================== TABLE PRODUITS =====================================-->
                        {% if table=="produits" %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h2 class="card-title" style="font-size : 20px ; ">Produits</h2>
                                            <a href="{{ path('ajouter_produit')}} " type="button" class="btn btn-primary waves-effect waves-light"> 
                                                Ajouter Produit
                                            </a>
                                            <!--a href="{{ path('admin_categorie')}} " type="button" class="btn btn-primary waves-effect waves-light">
                                                Categories
                                            </a>
                                            <a href="{{ path('admin_souscategorie')}} " type="button" class="btn btn-primary waves-effect waves-light">
                                                Sous Categories
                                            </a-->

                                        <p class="card-title-desc"> 
                                        </p>
                                    </div>
                                    <div class="card-body">



                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                            <tr style="font-size : 16px">
                                                <th>Image</th>
                                                <th>Nom</th>
                                                <th>Description</th>
                                                <th>Prix</th>
                                                <th>Promo</th>
                                                <th>Categorie</th>
                                                <th>Sous Categ.</th>
                                                <th>Edit</th>

                                            </tr>
                                            </thead>
        
        
                                            <tbody>
 

                                            
                                            {% for produit in produits %}
                                            <tr style="font-weight:bold ; color : black ">
                                                <td><img style="width:100px ; height:100px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" src="{{produit.imageProd}}"></td>
                                                <td >{{ produit.nomProd }}</td>
                                                <td>{{ produit.descProd }}</td>
                                                <td>{{ produit.prixProd }}</td>
                                                <td>{{ produit.promoProd }}</td>
                                                <td>{{ produit.categorieProd.nomCategorie }}</td>
                                                <td>{{ produit.sousCategProd.nomSousCateg }}</td>
                                                <td>
                                                    <a href="{{path('modif',{'id':produit.id})}}" type="button" class="btn btn-success waves-effect waves-light  ">


                                                        <i class="mdi mdi-pencil d-block font-size-16"></i>
                                                        Edit
                                                    </a>

                                                    <a href="{{path('delete_prod',{'id':produit.id})}}" type="button" class="btn btn-danger waves-effect waves-light ">
                                                        <i class="mdi mdi-trash-can d-block font-size-16"></i>
                                                        Delete
                                                    </a>


                                                </td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end cardaa -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->


                    <!-- =========================== TABLE CATEGORIES =====================================-->
                        {% elseif table=="categories" %}
                        <div class="row" >
                            <div class="col-12" >
                                <div class="card" >
                                    
                                    <div class="card-header">
                                        <h2 class="card-title" style="font-size : 20px ; ">Categories</h2>
                                        <a href="{{ path('ajouter_categorie')}} " type="button" class="btn btn-primary waves-effect waves-light">
                                            Ajouter Categorie
                                        </a>

                                        <!--a href="{{ path('admin_product')}} " type="button" class="btn btn-primary waves-effect waves-light">
                                            Produits
                                        </a>

                                        <a href="{{ path('admin_souscategorie')}} " type="button" class="btn btn-primary waves-effect waves-light">
                                            Sous Categories
                                        </a-->

                                        <p class="card-title-desc"></p>
                                    </div>
                                    <div class="card-body">

                                        <center>
                                        <div style="width : 60% ; ">
                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100" >
                                            <thead>
                                                <tr style="font-size : 16px">
                                                    <th>ID</th> 
                                                    <th>Nom</th> 
                                                    <th>Edit</th>
                                                </tr>
                                            </thead>


                                            <tbody>


                                                {% for categorie in categories %}
                                                    <tr style="font-weight:bold ; color : black ">
                                                        
                                                        <td>{{ categorie.id }}</td>
                                                        <td>{{ categorie.nomCategorie }}</td>
                                                         
                                                        <td>
                                                            <center>
                                                            <a href="{{path('modifCateg',{'id':categorie.id})}}" type="button" class="btn btn-success waves-effect waves-light  ">


                                                                <i class="mdi mdi-pencil d-block font-size-16"></i>
                                                                Edit
                                                            </a>

                                                            <a href="{{path('delete_categ',{'id':categorie.id})}}" type="button" class="btn btn-danger waves-effect waves-light ">

                                                                <i class="mdi mdi-trash-can d-block font-size-16"></i>
                                                                Delete
                                                            </a>
                                                            </center>

                                                        </td>

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        </div>
                                        </center>

                                    </div>
                                         



                                </div>
                                <!-- end cardaa -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
 




                        {% elseif table=="souscategories" %}
                        <!-- =========================== TABLE SOUS CATEGORIES =====================================-->
                         
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h2 class="card-title" style="font-size : 20px ; ">Sous Categories</h2>
                                            <a href="{{ path('ajouter_souscategorie')}} " type="button" class="btn btn-primary waves-effect waves-light"> 
                                                Ajouter Sous Categorie
                                            </a>
                                            <!--a href="{{ path('admin_product')}} " type="button" class="btn btn-primary waves-effect waves-light">
                                                Produits
                                            </a>
                                            <a href="{{ path('admin_categorie')}} " type="button" class="btn btn-primary waves-effect waves-light">
                                                Categories
                                            </a-->

                                        <p class="card-title-desc"> 
                                        </p>
                                    </div>
                                    <div class="card-body">


                                        <center>
                                        <div style="width : 60% ; ">    
                                            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                                <thead>
                                                <tr style="font-size : 16px">
                                                    <th>ID</th>
                                                    <th>Nom</th> 
                                                    <th>Edit</th>

                                                </tr>
                                                </thead>
            
            
                                                <tbody>
    

                                                
                                                {% for souscategorie in souscategories %}
                                                <tr style="font-weight:bold ; color : black ">
                                                    
                                                    <td >{{ souscategorie.id }}</td>
                                                    <td>{{ souscategorie.nomSousCateg }}</td> 
                                                    <td>
                                                        <a href="{{path('modifSousCateg',{'id':souscategorie.id})}}" type="button" class="btn btn-success waves-effect waves-light  ">


                                                            <i class="mdi mdi-pencil d-block font-size-16"></i>
                                                            Edit
                                                        </a>

                                                        <a href="{{path('delete_souscateg',{'id':souscategorie.id})}}" type="button" class="btn btn-danger waves-effect waves-light ">
                                                            <i class="mdi mdi-trash-can d-block font-size-16"></i>
                                                            Delete
                                                        </a>


                                                    </td>

                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            </div>
                                            </center>


                                    </div>
                                </div>
                                <!-- end cardaa -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->



                        {% endif %}










                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

        
 {% endblock %}
