

<!doctype html>
<html lang="en">
	<!-- Mirrored from blueskytechmage.com/ohey/en11/anzo-led-headlights-gauge-kit.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Feb 2022 19:00:33 GMT -->
	<!-- Added by HTTrack -->{% block css %}

	{% endblock %}


	<meta
	http-equiv="content-type" content="text/html;charset=UTF-8"/> <!-- /Added by HTTrack -->
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
	    
		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		{% endblock %}
		 <!-- JAVASCRIPT -->
        <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
   
      
		<script>
			var BASE_URL = 'https.html\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fen11\u002F';
var require = {
'baseUrl': 'https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fstatic\u002Fversion1640184821\u002Ffrontend\u002Fbluesky\u002Fbluesky_ohey_carparts_01\u002Fen_US'
};
		</script>
		<meta charset="utf-8"/>
		<meta name="title" content="Anzo – LED Headlights Gauge Kit"/>
		<meta name="description" content="Anzo – LED Headlights Gauge Kit Design inspiration lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit"/>
		<meta name="keywords" content="Anzo – LED Headlights Gauge Kit"/>
		<meta name="robots" content="INDEX,FOLLOW"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="format-detection" content="telephone=no"/>
		<title>Anzo – LED Headlights Gauge Kit</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




<link rel=="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">


{# <!-- ChatBot -->
<link rel="stylesheet" type="text/css" href="css/jquery.convform.css">
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/pages/jquery.convform.js"></script>



 #}





		<link rel="stylesheet" type="text/css" media="all" href="../static/version1640184821/_cache/merged/A.2efa3b95489a4189897749220a92fce0.min.css.pagespeed.cf._5GLoYDEdJ.css"/>
		<link rel="stylesheet" type="text/css" media="print" href="../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/css/A.print.min.css.pagespeed.cf.vxbaswDj2V.css"/>
		<script type="text/javascript" src="../static/version1640184821/_cache/merged/af9d47abda4bdb126168e1a73fa371ad.min.js"></script>
		<link rel="icon" type="image/x-icon" href="../media/favicon/stores/15/xThumbnail.png.pagespeed.ic.HrbBfqaLqh.png"/>
		<link rel="shortcut icon" type="image/x-icon" href="../media/favicon/stores/15/xThumbnail.png.pagespeed.ic.HrbBfqaLqh.png"/>
		<link rel="stylesheet" type="text/css" media="all" href="../media/rokanthemes/theme_option/A.custom_en11.css%2cqv%3d1630588925.pagespeed.cf.jzGk9q1GFf.css">
		<script type="text/x-magento-init">
			{
			                                    "*": {
			                                        "Magento_PageCache/js/form-key-provider": {}
			                                    }
			                                }
		</script>

		<meta property="og:type" content="product"/>
		<meta property="og:title" content="Anzo&#x20;&#x2013;&#x20;LED&#x20;Headlights&#x20;Gauge&#x20;Kit"/>
		<meta property="og:image" content="https://blueskytechmage.com/ohey/media/catalog/product/cache/5a09b996c60e7921a8f72e0272b75e24/a/n/anzo_led_headlights_gauge_kit_1_1.jpg"/>
		<meta property="og:description" content="Suspendisse&#x20;turpis&#x20;ipsum,&#x20;tempus&#x20;in&#x20;nulla&#x20;euposuere&#x20;pharetra&#x20;nibh.&#x20;In&#x20;dignissim&#x20;vitae&#x20;lorem&#x20;non&#x20;mollis.&#x20;Praesent&#x20;pretium&#x20;tellus&#x20;in&#x20;tortor&#x20;viverra&#x20;condimentum.&#x20;Nullam&#x20;dignissim&#x20;facilisis&#x20;nisl."/>
		<meta property="og:url" content="https://blueskytechmage.com/ohey/en11/anzo-led-headlights-gauge-kit.html"/>
		<meta property="product:price:amount" content="100"/>
		<meta property="product:price:currency" content="USD"/>
		 
	</head>
	<body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "https://blueskytechmage.com/ohey/static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/images/loader-2.gif"}}' id="html-body" itemtype="http://schema.org/Product" itemscope="itemscope" class="bluesky-page-preloader catalog-product-view product-anzo-led-headlights-gauge-kit categorypath-all-categories category-all-categories page-layout-1column">
		<div class="enable-sticky-header"></div>

		<script type="text/x-magento-init">
			{
			                                "*": {
			                                    "Magento_PageBuilder/js/widget-initializer": {
			                                        "config": {"[data-content-type=\"slider\"][data-appearance=\"default\"]":{"Magento_PageBuilder\/js\/content-type\/slider\/appearance\/default\/widget":false},"[data-content-type=\"map\"]":{"Magento_PageBuilder\/js\/content-type\/map\/appearance\/default\/widget":false},"[data-content-type=\"row\"]":{"Magento_PageBuilder\/js\/content-type\/row\/appearance\/default\/widget":false},"[data-content-type=\"tabs\"]":{"Magento_PageBuilder\/js\/content-type\/tabs\/appearance\/default\/widget":false},"[data-content-type=\"slide\"]":{"Magento_PageBuilder\/js\/content-type\/slide\/appearance\/default\/widget":{"buttonSelector":".pagebuilder-slide-button","showOverlay":"hover","dataRole":"slide"}},"[data-content-type=\"banner\"]":{"Magento_PageBuilder\/js\/content-type\/banner\/appearance\/default\/widget":{"buttonSelector":".pagebuilder-banner-button","showOverlay":"hover","dataRole":"banner"}},"[data-content-type=\"buttons\"]":{"Magento_PageBuilder\/js\/content-type\/buttons\/appearance\/inline\/widget":false},"[data-content-type=\"products\"][data-appearance=\"carousel\"]":{"Magento_PageBuilder\/js\/content-type\/products\/appearance\/carousel\/widget":false}},
			                                        "breakpoints": {"desktop":{"label":"Desktop","stage":true,"default":true,"class":"desktop-switcher","icon":"Magento_PageBuilder::css\/images\/switcher\/switcher-desktop.svg","conditions":{"min-width":"1024px"},"options":{"products":{"default":{"slidesToShow":"5"}}}},"tablet":{"conditions":{"max-width":"1024px","min-width":"768px"},"options":{"products":{"default":{"slidesToShow":"4"},"continuous":{"slidesToShow":"3"}}}},"mobile":{"label":"Mobile","stage":true,"class":"mobile-switcher","icon":"Magento_PageBuilder::css\/images\/switcher\/switcher-mobile.svg","media":"only screen and (max-width: 768px)","conditions":{"max-width":"768px","min-width":"640px"},"options":{"products":{"default":{"slidesToShow":"3"}}}},"mobile-small":{"conditions":{"max-width":"640px"},"options":{"products":{"default":{"slidesToShow":"2"},"continuous":{"slidesToShow":"1"}}}}}            }
			                                }
			                            }
		</script>
		<script>
			window.logoUrl = 'https://blueskytechmage.com/ohey/static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/images/logo.svg';
window.backgroundUrl = '';
window.title = '';
window.description = null;
		</script>
		<script type="text/x-magento-init">
			{
			                            "*": {
			                                "rokanthemes/ajaxsuite"    : {
			                                        "loginUrl": "https://blueskytechmage.com/ohey/en11/customer/account/login/",
			                                        "customerId": "",
			                                        "ajaxCart" : {
			                                            "enabled" : 1,
			                                            "actionAfterSuccess" : "popup"
			                                        },
			                                        "ajaxWishList" : {
			                                            "enabled" : 1,
			                                            "WishlistUrl": "https://blueskytechmage.com/ohey/en11/ajaxsuite/wishlist/add/"
			                                        },
			                                        "ajaxCompare" : {
			                                            "enabled" : 1,
			                                            "CompareUrl": "https://blueskytechmage.com/ohey/en11/ajaxsuite/compare/add/"
			                                        }
			                                    }
			                            }
			                        }
		</script>
		<script type="text/x-magento-init">
			{
			                            "*": {
			                                "rokanthemes/quickview"    : {
			                                        "quickviewUrl": "https://blueskytechmage.com/ohey/en11/quickview/product/view/",
			                                        "buttonText": "Quick View",
			                                        "classInsertPosition": ".actions-secondary",
			                                        "actionInsert": "append",
			                                        "isEnabled": "1"
			                                    }
			                            }
			                        }
		</script>

		<div class="cookie-status-message" id="cookie-status">
			The store will not work correctly in the case when cookies are disabled.</div>
		<script type="text/x-magento-init">
			{
			                                "*": {
			                                    "cookieStatus": {}
			                                }
			                            }
		</script>

		<script type="text/x-magento-init">
			{
			                                "*": {
			                                    "mage/cookies": {
			                                        "expires": null,
			                                        "path": "\u002Fohey",
			                                        "domain": ".blueskytechmage.com",
			                                        "secure": false,
			                                        "lifetime": "3600"
			                                    }
			                                }
			                            }
		</script>
		<noscript>
			<div class="message global noscript">
				<div class="content">
					<p>
						<strong>JavaScript seems to be disabled in your browser.</strong>
						<span>
							For the best experience on our site, be sure to turn on Javascript in your browser.
						</span>
					</p>
				</div>
			</div>
		</noscript>

		<script>
			window.cookiesConfig = window.cookiesConfig || {};
window.cookiesConfig.secure = true;
		</script>
		<script>
			require.config({
map: {
'*': {
wysiwygAdapter: 'mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter'
}
}
});
		</script>
		<script>
			require.config({
paths: {
googleMaps: 'https\u003A\u002F\u002Fmaps.googleapis.com\u002Fmaps\u002Fapi\u002Fjs\u003Fv\u003D3\u0026key\u003D'
},
config: {
'Magento_PageBuilder/js/utils/map': {
style: ''
},
'Magento_PageBuilder/js/content-type/map/preview': {
apiKey: '',
apiKeyErrorMessage: 'You\u0020must\u0020provide\u0020a\u0020valid\u0020\u003Ca\u0020href\u003D\u0027https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fen11\u002Fadminhtml\u002Fsystem_config\u002Fedit\u002Fsection\u002Fcms\u002F\u0023cms_pagebuilder\u0027\u0020target\u003D\u0027_blank\u0027\u003EGoogle\u0020Maps\u0020API\u0020key\u003C\u002Fa\u003E\u0020to\u0020use\u0020a\u0020map.'
},
'Magento_PageBuilder/js/form/element/map': {
apiKey: '',
apiKeyErrorMessage: 'You\u0020must\u0020provide\u0020a\u0020valid\u0020\u003Ca\u0020href\u003D\u0027https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fen11\u002Fadminhtml\u002Fsystem_config\u002Fedit\u002Fsection\u002Fcms\u002F\u0023cms_pagebuilder\u0027\u0020target\u003D\u0027_blank\u0027\u003EGoogle\u0020Maps\u0020API\u0020key\u003C\u002Fa\u003E\u0020to\u0020use\u0020a\u0020map.'
}
}
});
		</script>

		<script>
			require.config({
shim: {
'Magento_PageBuilder/js/utils/map': {
deps: ['googleMaps']
}
}
});
		</script>

		<div id="newsletter_pop_up" class="newsletterpopup">
			<a href="javascript: void(0);" class="btn-close newletter_popup_close">
				<span></span>
			</a>
			<div class="col-newsletter-popup col-content">
				<div class="col-img-bg-pupup"></div>
				<div class="content-popup">
					<div class="content">
						<h2>Get Our Email Letter</h2>
						<p>Subscribe to the Ohey mailing list to receive updates on new arrivals, special offers and other discount information.</p>
					</div>
					<form class="form subscribe" novalidate action="https://blueskytechmage.com/ohey/en11/newsletter/subscriber/new/" method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="newsletter-validate-popup">
						<div class="field newsletter">
							<div class="control">
								<input name="email" type="email" id="newsletter-popup" placeholder="Enter your email address" data-validate="{required:true, 'validate-email':true}"/>
							</div>
						</div>
						<div class="actions">
							<button class="action subscribe primary" title="Subscribe" type="submit">
								<span>Subscribe</span>
							</button>
						</div>
						<div class="subscribe-bottom flex-layout no-wrap center">
							<div class="input-check-box">
								<input type="checkbox" id="newsletter_popup_dont_show_again">
								<span class="checkmark"></span>
							</div>
							<label for="newsletter_popup_dont_show_again">Do not show this popup again</label>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			require(["jquery"], function ($) {
function setCookie(name, value, days) {
if (days) {
var date = new Date();
date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
var expires = "; expires=" + date.toGMTString();
} else 
var expires = "";



document.cookie = name + "=" + value + expires + "; path=/";
}
function getCookie(name) {
var nameEQ = name + "=";
var ca = document.cookie.split(';');
for (var i = 0; i < ca.length; i++) {
var c = ca[i];
while (c.charAt(0) == ' ') 
c = c.substring(1, c.length);



if (c.indexOf(nameEQ) == 0) 
return c.substring(nameEQ.length, c.length);



}
return null;
}
$(document).ready(function () {
if ($("body").hasClass("cms-index-index")) {
if (getCookie("shownewsletter") != 1) {
var height_window = $(window).height();
var height_pupup = 372;
var fixed_height = (height_window - height_pupup) / 2;
var pPopup = $('#newsletter_pop_up').bPopup({
position: [
'auto', fixed_height
],
speed: 500,
transition: 'slideDown',
onClose: function () {}
});
$('.newletter_popup_close').on('click', function () {
pPopup.close();
});
}
$("#newsletter_pop_up form").submit(function (event) {
setCookie("shownewsletter", '1', 1);
});
$('#newsletter_popup_dont_show_again').on('change', function () {
if (getCookie("shownewsletter") != 1) {
setCookie("shownewsletter", '1', 1)
} else {
setCookie("shownewsletter", '0', 1)
}
});
}
});
});
		</script>
		<div class="page-wrapper lazyload-image">
			<header class="page-header">
				<div class="header-container layout-11">
					<div class="topbar">
						<div class="topbar-inner ">
							<div class="container-fluid">
								<div class="flex-layout space-between center_vertical center-mobile">

								<div class=" topbar-contact-email hidden-sm">


								
           
<style>
.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .50em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 10; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .50em; /* Adjust as needed */
  animation: 
    typing 10s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
</style>


										{# <p class="phone">
											<a href="tel:393525684593">Need Help? +216 222222222</a>
										</p> #}
										{# <p class="email">
											<a href="mailto:hello@domain.com">support@metatech.tn</a>
										</p> #}
									</div>
									
	<!-- TIME -->

<style>
p {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  color:#ffffff;
}
</style>
	<p id="demo"></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Mars 09, 2022").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML =  days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>


									<div class="col-right flex-layout center_vertical">
										<div class="contact-store hidden-sm">
											<a href="{{path('storelocator')}}">
												Find a Store</a>
										</div>
										<div class="language-currency">
											<div class="container-setting-language-currency">
												<div class="switcher currency switcher-currency" id="switcher-currency">
													<strong class="label switcher-label">
														<span>Currency</span>
													</strong>
													<div class="actions dropdown options switcher-options">
														<div class="action toggle switcher-trigger" id="switcher-currency-trigger" data-mage-init='{"dropdown":{}}' data-toggle="dropdown" data-trigger-keypress-button="true">
															<strong class="language-USD">
																<span>USD - US Dollar</span>
															</strong>
														</div>
														<ul class="dropdown switcher-dropdown" data-target="dropdown">
															<li class="currency-EUR switcher-option">
																<a href="#" data-post='{"action":"https:\/\/blueskytechmage.com\/ohey\/en11\/directory\/currency\/switch\/","data":{"currency":"EUR","uenc":"aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9hbnpvLWxlZC1oZWFkbGlnaHRzLWdhdWdlLWtpdC5odG1s"}}'>EUR - Euro</a>
															</li>
														</ul>
													</div>
												</div>

											</div>
										</div>
										<ul class="social-link-header hidden-xs">
											<li>
												<a href="#">
													<span class="icon-facebook-f">
														<span class="text">Facebook</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-instagram">
														<span class="text">instagram</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="icon-twitter">
														<span class="text">twitter</span>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header-middle">
						<div class="header">
							<div class="container-fluid">
								<div class="flex-layout space-between header-top center_vertical">
									<div class="logo-container">
										<div class="logo-site">
											<span data-action="toggle-nav" class="action nav-toggle">
												<span>Toggle Nav</span>
											</span>
											<a class="logo" href="/" title="" aria-label="store logo">
												<img src="../media/slidebanner/s/l/logo.png" title="" alt="" width="100"/>
											</a>
										</div>
									</div>
									<div class="top-search-not-dropdown">
										<div class="block block-search">
											<div class="block-content">
												<div class="dropdown">
													<div class="dropdown-toggle">
														<div class="top-search">
															<i class="icon-search2"></i>
														</div>
													</div>
													<form class="form minisearch search-content cat-search" id="search_mini_form" action="https://blueskytechmage.com/ohey/en11/catalogsearch/result/" method="get">
														<div class="search-form">
															<div class="field-by-cat-search hidden-xs">
																<select name="cat" id="choose_category">
																	<option value="">All Categories</option>
																	{# <option value="157">Engine Systems</option> 
																	<option value="168">Brake Systems</option> #}
																</select>
															</div>
															<div class="field search">
																<label class="label" for="search-input-autocomplate" data-role="minisearch-label">
																	<span>Search</span>
																</label>
																<div class="control">
																	<input id="search-input-autocomplate" data-mage-init='{"quickSearch":{
																		                                                                                                                                                                                        "formSelector":"#search_mini_form",
																		                                                                                                                                                                                        "url":"https://blueskytechmage.com/ohey/en11/search/ajax/suggest/",
																		                                                                                                                                                                                        "destinationSelector":"#search_autocomplete"}
																		                                                                                                                                                                                   }' type="text" name="q" value="" placeholder="Search entire store here..." class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" aria-expanded="false" autocomplete="off"/>
																	<div id="search_autocomplete" class="search-autocomplete"></div>
																	<div data-bind="scope: 'searchsuiteautocomplete_form'"><!-- ko template: getTemplate() -->
																		<!-- /ko -->
																	</div>
																</div>
																<div class="actions">
																	<button type="submit" title="Search" class="action search">
																		<span>Search</span>
																	</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
										<script>
											require([
'jquery', 'rokanthemes/choose'
], function ($) {
'use strict';
$("#choose_category").chosen();
});
										</script>
										<script>
											require(['jquery'], function ($) {
'use strict';
$(document).ready(function () {
$('.block-search .dropdown-toggle > .top-search').click(function (event) {
$('.block-search #search_mini_form').slideToggle();
$('#search-input-autocomplate').focus();
});
});
});
										</script>
										<script type="text/x-magento-init">
											{
											                                                                                            "*": {
											                                                                                                "Magento_Ui/js/core/app": {
											                                                                                                    "components": {
											                                                                                                        "searchsuiteautocomplete_form": {
											                                                                                                            "component": "MageWorx_SearchSuiteAutocomplete/js/autocomplete"
											                                                                                                        },
											                                                                                                        "searchsuiteautocompleteBindEvents": {
											                                                                                                            "component": "MageWorx_SearchSuiteAutocomplete/js/bindEvents",
											                                                                                                            "config": {
											                                                                                                                "searchFormSelector": "#search_mini_form",
											                                                                                                                "searchButtonSelector": "button.search",
											                                                                                                                "inputSelector": "#search, #mobile_search, .minisearch .search input[type=\"text\"]",
											                                                                                                                "searchDelay": "500"
											                                                                                                            }
											                                                                                                        },
											                                                                                                        "searchsuiteautocompleteDataProvider": {
											                                                                                                            "component": "MageWorx_SearchSuiteAutocomplete/js/dataProvider",
											                                                                                                            "config": {
											                                                                                                                "url": "https://blueskytechmage.com/ohey/en11/mageworx_searchsuiteautocomplete/ajax/index/"
											                                                                                                            }
											                                                                                                        }
											                                                                                                    }
											                                                                                                }
											                                                                                            }
											                                                                                        }
										</script>
									</div>
									<div class="col-action col-right">
										<ul class="flex-layout action-header center_vertical">
										
											<li>
												<ul class="header links">
												 {% if not app.user %}
													<li class="link authorization-link" data-label="or">
												
														<a href="{{ path('security_login') }}">Sign In</a>
													  

										
													    {% else %}
													
														<li class="link authorization-link" data-label="or">
														<a href="{{ path('security_logout') }}">Sign Out</a>
															</li>
												
														  {% endif %}

												</ul>
											</li>
											<li class="link authorization-link" data-label="or">
											
											{% if is_granted('ROLE_ADMIN') %}
													<li> <a href="{{path('liste_utilisateurs')}}">Admin</a> </li>
													
											{% endif %}
									  	{% if is_granted('ROLE_CLIENT') %}
													<li> <a href="{{path('account')}}">Account</a> </li>
											{% endif %}
											</li>	
										
										
											<li class="link wishlist" data-bind="scope: 'wishlist'">
												<a href="wishlist/index.html"></a>
											</li>
											<script type="text/x-magento-init">
												{
												                                                                                                        "*": {
												                                                                                                            "Magento_Ui/js/core/app": {
												                                                                                                                "components": {
												                                                                                                                    "wishlist": {
												                                                                                                                        "component": "Magento_Wishlist/js/view/wishlist"
												                                                                                                                    }
												                                                                                                                }
												                                                                                                            }
												                                                                                                        }
												                                                                                                    }

											</script>
											<li class="minicart-li-content-show-hide">

												<div data-block="minicart" class="minicart-wrapper">
													<a class="action showcart" href="checkout/cart/index.html" data-bind="scope: 'minicart_content'">
														<span
															class="counter qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
															<!-- <span class="icon-cart-header"><i class="menu-icon  icon flaticon-shopping-cart6">&nbsp;</i></span> -->
															<span class="total-mini-cart-item">
																<!-- ko if: getCartParam('summary_count') -->
																<!-- ko text: getCartParam('summary_count') -->
																<!-- /ko -->
																<!-- /ko -->
																<!-- ko if: !getCartParam('summary_count') -->
															0
																<!-- /ko -->
															</span>
														</span>
														<span class="mini-cart-text">
															<span
																class="content-cart hidden-xs">
																<!-- ko if: getCartParam('subtotal') -->
																<span class="total-mini-cart-price" data-bind="html: getCartParam('subtotal')"></span>
																<!-- /ko -->
																<!-- ko if: !getCartParam('subtotal') -->
																<span class="total-mini-cart-price">
																	<span class="price">$0.00</span>
																</span>
																<!-- /ko -->
															</span>
														</span>
													</a>
													<div class="block block-minicart" data-role="dropdownDialog" data-mage-init='{"dropdownDialog":{
															                                                                                                                                        "appendTo":"[data-block=minicart]",
															                                                                                                                                        "triggerTarget":".showcart",
															                                                                                                                                        "timeout": "2000",
															                                                                                                                                        "closeOnMouseLeave": false,
															                                                                                                                                        "closeOnEscape": true,
															                                                                                                                                        "triggerClass":"active",
															                                                                                                                                        "parentClass":"active",
															                                                                                                                                        "buttons":[]}}'>
														<div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'"><!-- ko template: getTemplate() -->
															<!-- /ko -->
														</div>
													</div>
													<script>
														window.checkout = {
"shoppingCartUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/cart\/",
"checkoutUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/",
"updateItemQtyUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/sidebar\/updateItemQty\/",
"removeItemUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/sidebar\/removeItem\/",
"imageTemplate": "Magento_Catalog\/product\/image_with_borders",
"baseUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/",
"minicartMaxItemsVisible": 5,
"websiteId": "5",
"maxItemsToDisplay": 10,
"storeId": "15",
"storeGroupId": "6",
"customerLoginUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/customer\/account\/login\/referer\/aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9hbnpvLWxlZC1oZWFkbGlnaHRzLWdhdWdlLWtpdC5odG1s\/",
"isRedirectRequired": false,
"autocomplete": "off",
"captcha": {
"user_login": {
"isCaseSensitive": false,
"imageHeight": 50,
"imageSrc": "",
"refreshUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/captcha\/refresh\/",
"isRequired": false,
"timestamp": 1643741373
}
}
};
													</script>
													<script type="text/x-magento-init">
														{
														                                                                                                                        "[data-block='minicart']": {
														                                                                                                                            "Magento_Ui/js/core/app": {"components":{"minicart_content":{"children":{"subtotal.container":{"children":{"subtotal":{"children":{"subtotal.totals":{"config":{"display_cart_subtotal_incl_tax":0,"display_cart_subtotal_excl_tax":1,"template":"Magento_Tax\/checkout\/minicart\/subtotal\/totals"},"children":{"subtotal.totals.msrp":{"component":"Magento_Msrp\/js\/view\/checkout\/minicart\/subtotal\/totals","config":{"displayArea":"minicart-subtotal-hidden","template":"Magento_Msrp\/checkout\/minicart\/subtotal\/totals"}}},"component":"Magento_Tax\/js\/view\/checkout\/minicart\/subtotal\/totals"}},"component":"uiComponent","config":{"template":"Magento_Checkout\/minicart\/subtotal"}}},"component":"uiComponent","config":{"displayArea":"subtotalContainer"}},"item.renderer":{"component":"Magento_Checkout\/js\/view\/cart-item-renderer","config":{"displayArea":"defaultRenderer","template":"Magento_Checkout\/minicart\/item\/default"},"children":{"item.image":{"component":"Magento_Catalog\/js\/view\/image","config":{"template":"Magento_Catalog\/product\/image","displayArea":"itemImage"}},"checkout.cart.item.price.sidebar":{"component":"uiComponent","config":{"template":"Magento_Checkout\/minicart\/item\/price","displayArea":"priceSidebar"}}}},"extra_info":{"component":"uiComponent","config":{"displayArea":"extraInfo"}},"promotion":{"component":"uiComponent","config":{"displayArea":"promotion"}}},"config":{"itemRenderer":{"default":"defaultRenderer","simple":"defaultRenderer","virtual":"defaultRenderer"},"template":"Magento_Checkout\/minicart\/content"},"component":"Magento_Checkout\/js\/view\/minicart"}},"types":[]}        },
														                                                                                                                        "*": {
														                                                                                                                            "Magento_Ui/js/block-loader": "https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fstatic\u002Fversion1640184821\u002Ffrontend\u002Fbluesky\u002Fbluesky_ohey_carparts_01\u002Fen_US\u002Fimages\u002Floader\u002D1.gif"
														                                                                                                                        }
														                                                                                                                    }
													</script>
												</div>


											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header-bottom sticky-header center-element">
						<div class="header">
							<div class="container-fluid">
								<div class="flex-layout space-between center_vertical">
									<div class="col-left logo-sticky" style="max-width: none;">
										<a href="index.html" class="sticky-logo" title="Logo">
											<img src="../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/rokanthemes/stickylogo/stores/15/xlogo.png.pagespeed.ic.yMZPYmpp-3.png" alt="Logo"/>
										</a>
									</div>
									<div class="primary-menu-container ">
										<span data-action="toggle-nav" class="action nav-toggle d-xl-none sticky-toggle">
											<span>Toggle Nav</span>
										</span>
										<div class="navigation custommenu main-nav nav-sections " role="navigation">
											<div class="close-menu-mobile">
												<a href="#" id="close-menu">Close</a>
											</div>
											<div class="menu-mobile-title d-block d-xl-none">
												<a class="active" data-menu="custommenu-list" href="#">Menu</a>
											</div>
											<ul class="custommenu-list menu">

												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="/">Home</a>
												</li>
												<li class="ui-menu-item level0 fullwidth menu-item-has-children parent">
													<div class="open-children-toggle"></div>
													<a href="shop.html" class="level-top">Shop</a>
													<div class="level0 submenu">
														<div class="row">
															<ul class="subchildmenu col-sm-12 mega-columns columns4">
																<li class="ui-menu-item level1 parent ">
																	<div class="open-children-toggle"></div>
																	<a href="shop/body-parks.html">
																		<span>Body Parks</span>
																	</a>
																	<ul class="subchildmenu ">
																		  
																		<li class="ui-menu-item level2 ">
																			<a href="shop/body-parks/calipers.html">
																				<span>Calipers</span>
																			</a>
																		</li>
																	</ul>
																</li>

																<li class="ui-menu-item level1 parent ">
																	<div class="open-children-toggle"></div>
																	<a href="shop/electronics.html">
																		<span>Electronics</span>
																	</a>
																	<ul class="subchildmenu ">
																		  
																		 
																		<li class="ui-menu-item level2 ">
																			<a href="shop/electronics/struts.html">
																				<span>
																					Struts</span>
																			</a>
																		</li>
																	</ul>
																</li>
																<li class="ui-menu-item level1 parent ">
																	<div class="open-children-toggle"></div>
																	<a href="shop/wheels-tires.html">
																		<span>Wheels & Tires</span>
																	</a>
																	<ul class="subchildmenu ">
																		 
																		<li class="ui-menu-item level2 ">
																			<a href="shop/wheels-tires/headlights.html">
																				<span>Headlights</span>
																			</a>
																		</li>
																	</ul>
																</li>
																<li class="ui-menu-item level1 parent ">
																	<div class="open-children-toggle"></div>
																	<a href="shop/performace-parts.html">
																		<span>Performace Parts</span>
																	</a>
																	<ul class="subchildmenu ">
																		 
																		<li class="ui-menu-item level2 ">
																			<a href="shop/performace-parts/replacement-bulbs.html">
																				<span>Replacement Bulbs</span>
																			</a>
																		</li>
																	</ul>
																</li>
															</ul>
														</div>
													</div>
												</li>

												
												<li class="ui-menu-item level0  classic menu-item-has-children parent">
													<a class="level-top">Page</a>
													<div class="open-children-toggle">&nbsp;</div>
													<div class="level0 submenu">
														<div class="row">
															<ul class="subchildmenu ">
																<li class="ui-menu-item level2 ">
																	<a href="{{path('storelocator')}}">Store Locator</a>
																</li> 
															</ul>
														</div>
													</div>
												</li>
												<li class="ui-menu-item level0">
													<a class="level-top" href="{{path('blog')}}">Blog</a>
												</li>
												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('produit')}}">Products</a>
												</li>
												{# <li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('event_front')}}">Events</a>
												</li> #}
												<li class="ui-menu-item level0  classic menu-item-has-children parent">
													<a class="level-top">Events</a>
													<div class="open-children-toggle">&nbsp;</div>
													<div class="level0 submenu">
														<div class="row">
															<ul class="subchildmenu ">
																<li class="ui-menu-item level2 ">
																	<a href="{{path('event_front')}}">Events List</a>
																</li>
																<li class="ui-menu-item level2 ">
																	<a href="{{path('calendar_user')}}">Calendar</a>
																</li>
																
															</ul>
														</div>
													</div>
												</li>
												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('reclamation')}}">Contact us</a>
												</li>

												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="about-us/index.html">About us</a>
												</li>
												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('news')}}">News</a>
												</li>

												<li class="ui-menu-item level0 classic ">
													<a class="level-top" href="{{path('crypto')}}">Crypto</a>
												</li>

												<li class="my_account_link_custom ui-menu-item level0 classic">
													<a href="customer/account/index.html" title="My Account" class="level-top">My Account</a>
												</li>
											</ul>
										</div>
									</div>
									<script>
										require([
'jquery', 'rokanthemes/custommenu'
], function ($) {
$(".custommenu").CustomMenu();
$(document).ready(function () {
$(document).on('click', '.custommenu .menu-mobile-title a', function () {
var data = $(this).data('menu');
$('.custommenu .menu-mobile-title a').removeClass('active');
$(this).addClass('active');
$('.custommenu ul.menu').hide();
$(this).closest('.custommenu').find('ul.menu.' + data + '').show();
return false;
});
});
});
									</script>
									<div class="col-action col-right show-on-sticky action-sticky">
										<ul class="flex-layout action-header center_vertical ">
											<li>
												<ul class="header links">
												 {% if not app.user %}
													<li class="link authorization-link" data-label="or">
												
														<a href="{{ path('security_login') }}">Sign In</a>
													  

							
													    {% else %}
													
														<li class="link authorization-link" data-label="or">
														<a href="{{ path('security_logout') }}">Sign Out</a>
															</li>
												
														  {% endif %}

												</ul>
											</li>
											<li class="link authorization-link">
											
											{% if is_granted('ROLE_ADMIN') %}
													<li> <a href="{{path('liste_utilisateurs')}}">Admin</a> </li>
											{% endif %}
											</li>
											<li class="link wishlist" data-bind="scope: 'wishlist'">
												<a href="wishlist/index.html"></a>
											</li>
											<script type="text/x-magento-init">
												{
												                                                                                                        "*": {
												                                                                                                            "Magento_Ui/js/core/app": {
												                                                                                                                "components": {
												                                                                                                                    "wishlist": {
												                                                                                                                        "component": "Magento_Wishlist/js/view/wishlist"
												                                                                                                                    }
												                                                                                                                }
												                                                                                                            }
												                                                                                                        }
												                                                                                                    }

											</script>
											<li class="minicart-li-content-show-hide">

												<div data-block="minicart" class="minicart-wrapper">
													<a class="action showcart" href="checkout/cart/index.html" data-bind="scope: 'minicart_content'">
														<span
															class="counter qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
															<!-- <span class="icon-cart-header"><i class="menu-icon  icon flaticon-shopping-cart6">&nbsp;</i></span> -->
															<span class="total-mini-cart-item">
																<!-- ko if: getCartParam('summary_count') -->
																<!-- ko text: getCartParam('summary_count') -->
																<!-- /ko -->
																<!-- /ko -->
																<!-- ko if: !getCartParam('summary_count') -->
															0
																<!-- /ko -->
															</span>
														</span>
														<span class="mini-cart-text">
															<span
																class="content-cart hidden-xs">
																<!-- ko if: getCartParam('subtotal') -->
																<span class="total-mini-cart-price" data-bind="html: getCartParam('subtotal')"></span>
																<!-- /ko -->
																<!-- ko if: !getCartParam('subtotal') -->
																<span class="total-mini-cart-price">
																	<span class="price">$0.00</span>
																</span>
																<!-- /ko -->
															</span>
														</span>
													</a>
													<div class="block block-minicart" data-role="dropdownDialog" data-mage-init='{"dropdownDialog":{
															                                                                                                                                        "appendTo":"[data-block=minicart]",
															                                                                                                                                        "triggerTarget":".showcart",
															                                                                                                                                        "timeout": "2000",
															                                                                                                                                        "closeOnMouseLeave": false,
															                                                                                                                                        "closeOnEscape": true,
															                                                                                                                                        "triggerClass":"active",
															                                                                                                                                        "parentClass":"active",
															                                                                                                                                        "buttons":[]}}'>
														<div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'"><!-- ko template: getTemplate() -->
															<!-- /ko -->
														</div>
													</div>
													<script>
														window.checkout = {
"shoppingCartUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/cart\/",
"checkoutUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/",
"updateItemQtyUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/sidebar\/updateItemQty\/",
"removeItemUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/checkout\/sidebar\/removeItem\/",
"imageTemplate": "Magento_Catalog\/product\/image_with_borders",
"baseUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/",
"minicartMaxItemsVisible": 5,
"websiteId": "5",
"maxItemsToDisplay": 10,
"storeId": "15",
"storeGroupId": "6",
"customerLoginUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/customer\/account\/login\/referer\/aHR0cHM6Ly9ibHVlc2t5dGVjaG1hZ2UuY29tL29oZXkvZW4xMS9hbnpvLWxlZC1oZWFkbGlnaHRzLWdhdWdlLWtpdC5odG1s\/",
"isRedirectRequired": false,
"autocomplete": "off",
"captcha": {
"user_login": {
"isCaseSensitive": false,
"imageHeight": 50,
"imageSrc": "",
"refreshUrl": "https:\/\/blueskytechmage.com\/ohey\/en11\/captcha\/refresh\/",
"isRequired": false,
"timestamp": 1643741373
}
}
};
													</script>
													<script type="text/x-magento-init">
														{
														                                                                                                                        "[data-block='minicart']": {
														                                                                                                                            "Magento_Ui/js/core/app": {"components":{"minicart_content":{"children":{"subtotal.container":{"children":{"subtotal":{"children":{"subtotal.totals":{"config":{"display_cart_subtotal_incl_tax":0,"display_cart_subtotal_excl_tax":1,"template":"Magento_Tax\/checkout\/minicart\/subtotal\/totals"},"children":{"subtotal.totals.msrp":{"component":"Magento_Msrp\/js\/view\/checkout\/minicart\/subtotal\/totals","config":{"displayArea":"minicart-subtotal-hidden","template":"Magento_Msrp\/checkout\/minicart\/subtotal\/totals"}}},"component":"Magento_Tax\/js\/view\/checkout\/minicart\/subtotal\/totals"}},"component":"uiComponent","config":{"template":"Magento_Checkout\/minicart\/subtotal"}}},"component":"uiComponent","config":{"displayArea":"subtotalContainer"}},"item.renderer":{"component":"Magento_Checkout\/js\/view\/cart-item-renderer","config":{"displayArea":"defaultRenderer","template":"Magento_Checkout\/minicart\/item\/default"},"children":{"item.image":{"component":"Magento_Catalog\/js\/view\/image","config":{"template":"Magento_Catalog\/product\/image","displayArea":"itemImage"}},"checkout.cart.item.price.sidebar":{"component":"uiComponent","config":{"template":"Magento_Checkout\/minicart\/item\/price","displayArea":"priceSidebar"}}}},"extra_info":{"component":"uiComponent","config":{"displayArea":"extraInfo"}},"promotion":{"component":"uiComponent","config":{"displayArea":"promotion"}}},"config":{"itemRenderer":{"default":"defaultRenderer","simple":"defaultRenderer","virtual":"defaultRenderer"},"template":"Magento_Checkout\/minicart\/content"},"component":"Magento_Checkout\/js\/view\/minicart"}},"types":[]}        },
														                                                                                                                        "*": {
														                                                                                                                            "Magento_Ui/js/block-loader": "https\u003A\u002F\u002Fblueskytechmage.com\u002Fohey\u002Fstatic\u002Fversion1640184821\u002Ffrontend\u002Fbluesky\u002Fbluesky_ohey_carparts_01\u002Fen_US\u002Fimages\u002Floader\u002D1.gif"
														                                                                                                                        }
														                                                                                                                    }
													</script>
												</div>


											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel wrapper">
					<div class="panel header">
						<a class="action skip contentarea" href="#contentarea">
							<span>
								Skip to Content
							</span>
						</a>
					</div>
				</div>
			</header>
			<main id="maincontent" class="page-main">
				<a id="contentarea" tabindex="-1"></a>
				<div class="page messages">
					<div data-placeholder="messages"></div>
					<div
						data-bind="scope: 'messages'">
						<!-- ko if: cookieMessages && cookieMessages.length > 0 -->
						<div aria-atomic="true" role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages">
							<div data-bind="attr: {
									                                                                                    class: 'message-' + message.type + ' ' + message.type + ' message',
									                                                                                    'data-ui-id': 'message-' + message.type
									                                                                                }">
								<div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
							</div>
						</div>
						<!-- /ko -->

						<!-- ko if: messages().messages && messages().messages.length > 0 -->
						<div aria-atomic="true" role="alert" class="messages" data-bind="foreach: {
								                                                                        data: messages().messages, as: 'message'
								                                                                    }">
							<div data-bind="attr: {
									                                                                                    class: 'message-' + message.type + ' ' + message.type + ' message',
									                                                                                    'data-ui-id': 'message-' + message.type
									                                                                                }">
								<div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
							</div>
						</div>
						<!-- /ko -->
					</div>
					<script type="text/x-magento-init">
						{
						                                                        "*": {
						                                                            "Magento_Ui/js/core/app": {
						                                                                "components": {
						                                                                        "messages": {
						                                                                            "component": "Magento_Theme/js/view/messages"
						                                                                        }
						                                                                    }
						                                                                }
						                                                            }
						                                                    }
					</script>
				</div>
				<div class="columns">
					<div class="column main">
						<div class="product-main-content">
							<div class="product media" style="width: 100%;">
								<a id="gallery-prev-area" tabindex="-1"></a>
								<div class="action-skip-wrapper">
									<a class="action skip gallery-next-area" href="#gallery-next-area">
										<span>
											Skip to the end of the images gallery
										</span>
									</a>
								</div>
					


								<title>
									{% block title %}Welcome!
									{% endblock %}
								</title>
								{# Run `composer require symfony/webpack-encore-bundle`
								                                           and uncomment the following Encore helpers to start using Symfony UX #}
							

								{% block javascripts %}
									{#{{ encore_entry_script_tags('app') }}#}
								{% endblock %}
							</head>
						 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
							<body>
								{% block body %}{% endblock %}
	   {# {% block javascripts %}
		  <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
          <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        {% endblock %} 
		 <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}  #}
							</body>

							<footer class="page-footer">
								<div id="focus-area"></div>
								<div id="back-top" class="">
									<i class="icon icon-chevrons-up"></i>
								</div>
								<div class="footer-container enable-mobile-menu layout-9">
									<div class="footer-top">
										<div class="footer content">
											<div class="footer-static_link flex-layout space-between">
												<div class="footer-links col-links">
													<img src="../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/rokanthemes/footerlogo/stores/15/xlogo11_1.png.pagespeed.ic.bSdxIDD9z_.png" alt=""/>
													<p>
														Since 2013 we’ve been creating industrial design, residential architecture, commercial interiors. Chase mice attack feet but rub face on everything cepteur sint occaecat cupidatat proident.
													</p>
													<h4 class="footer-title">Follow us</h4>
													<ul class="social-link footer-contents">
														<li>
															<a href="#">
																<span class="icon-facebook-f">
																	<span class="text">Facebook</span>
																</span>
															</a>
														</li>
														<li>
															<a href="#">
																<span class="icon-instagram">
																	<span class="text">instagram</span>
																</span>
															</a>
														</li>
														<li>
															<a href="#">
																<span class="icon-twitter">
																	<span class="text">twitter</span>
																</span>
															</a>
														</li>
														<li>
															<a href="#">
																<span class="icon-dribbble">
																	<span class="text">dribbble</span>
																</span>
															</a>
														</li>
														<li>
															<a href="#">
																<span class="icon-play-circle">
																	<span class="text">youtube</span>
																</span>
															</a>
														</li>
													</ul>
												</div>
												<div class="footer-links col-links to_help">
													<h4 class="footer-title">here to help</h4>
													<div class="footer-contents">
														<p>Have a question? You may find an answer in our FAQs.
															                                                                                                                            But you can also contact us:</p>
														<div class="info_help">
															<div class="info_content info_phone">
																<span class="icon-phone-outgoing">
																	<span class="text">phone</span>
																</span>
																<h4>Order by phone</h4>
																<p>Available everyday</p>
																<p class="text_inner text_phone">+391 (0)35 2568</p>
															</div>
															<div class="info_content info_email">
																<span class="icon-mail">
																	<span class="text">email</span>
																</span>
																<h4>Email Us</h4>
																<p>Get in touch by email</p>
																<p class="text_inner">support@ohey.com</p>
															</div>
														</div>
													</div>
												</div>
												<div class="footer-links">
													<h4 class="footer-title">Customer Service</h4>
													<ul class="footer-contents">
														<li>
															<a href="#">Help & Contact Us</a>
														</li>
														<li>
															<a href="#">COVID-19 information</a>
														</li>
														<li>
															<a href="#">Orders & Shipping</a>
														</li>
														<li>
															<a href="#">Payment & Pricing</a>
														</li>
														<li>
															<a href="#">Returns & Refunds</a>
														</li>
														<li>
															<a href="#">FAQs</a>
														</li>
														<li>
															<a href="#">Terms & Conditions</a>
														</li>
														<li>
															<a href="#">Privacy Policy</a>
														</li>
														<li>
															<a href="#">Accessibility</a>
														</li>
														<li>
															<a href="#">Contact Us</a>
														</li>
														<li>
															<a href="#">Documentation</a>
														</li>
													</ul>
												</div>
												<div class="footer-links">
													<h4 class="footer-title">About ohey</h4>
													<ul class="footer-contents">
														<li>
															<a href="#">My Account</a>
														</li>
														<li>
															<a href="#">Investors</a>
														</li>
														<li>
															<a href="#">Boutique Partners</a>
														</li>
														<li>
															<a href="#">Affiliate Programme</a>
														</li>
														<li>
															<a href="#">Careers</a>
														</li>
														<li>
															<a href="#">Customer Promise</a>
														</li>
														<li>
															<a href="#">Ohey App</a>
														</li>
														<li>
															<a href="#">Sitemap</a>
														</li>
														<li>
															<a href="#">Positively Ohey</a>
														</li>
													</ul>
												</div>

											</div>
										</div>
									</div>
									<div class="footer-bottom">
										<div class="container-inner border-top">
											<div class="footer content flex-layout space-between center_vertical">
												<small class="copyright">
													<span>© Copyright Ohey Limited. All rights reserved.</span>
												</small>

												<div class="footer-payment">
													<div class="flex-layout center_vertical">
														<h4>Secure payments</h4>
														<div class="img_payment"><img src="../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/wysiwyg/payment.png" alt=""/></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="fixed-bottom d-block d-md-none">
									<div class="link-on-bottom">
										<ul class="mobile-bottom-link flex-layout space-between list-unstyled no-wrap">
											<li>
												<a href="index.html">
													<span class="icon icon-home"></span>Home</a>
											</li>
											<li>
												<a href="customer/account/index.html">
													<span class="icon icon-user-circle-o"></span>Account</a>
											</li>
											<li>
												<a href="#" class="toggle-nav-footer">
													<span class="icon icon-menu1"></span>Menu</a>
											</li>
											<li>
												<a href="wishlist/index.html">
													<span class="icon icon-favorite_border"></span>Wishlist</a>
											</li>
											<li>
												<a href="checkout/cart/index.html">
													<span class="icon icon-cart"></span>Cart</a>
											</li>

										</ul>
									</div>
								</div>
							</footer>


							<script type="text/x-magento-init">
								{
								                                                    "*": {
								                                                        "Magento_Ui/js/core/app": {
								                                                            "components": {
								                                                                "storage-manager": {
								                                                                    "component": "Magento_Catalog/js/storage-manager",
								                                                                    "appendTo": "",
								                                                                    "storagesConfiguration" : {"recently_viewed_product":{"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"lifetime":"1000","allowToSendRequest":null},"recently_compared_product":{"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"lifetime":"1000","allowToSendRequest":null},"product_data_storage":{"updateRequestConfig":{"url":"https:\/\/blueskytechmage.com\/ohey\/en11\/rest\/en11\/V1\/products-render-info"},"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"allowToSendRequest":null}}                        }
								                                                            }
								                                                        }
								                                                    }
								                                                }
							</script>
							<div class="ajaxsuite-popup-wrapper" id="ajaxsuite-popup-wrapper">
								<a id="ajaxsuite-close" class="ajaxsuite-close"></a>
								<div id="ajaxsuite-popup-content"></div>
							</div>
							<div class="quickview-popup-wrapper" id="quickview-popup-wrapper">
								<a id="quickview-close" class="quickview-close"></a>
								<div id="quickview-popup-content"></div>
							</div>
							<div data-url="https://blueskytechmage.com/ohey/en11/themeoption/fakeorder/getitem/" id="purchase-fake-order" data-seconds-hide="5" data-seconds-displayed="10" class="purchase-order fadeInUp animated hidden-xs" style="display: none;">
								<a class="purchase-close" href="javascript:void(0);"></a>
								<div class="product-purchase"></div>
							</div>
						</div>
						<script>
							require(["jquery"], function ($) {
require(["rokanthemes/lazyloadimg"], function (lazy) {
$("img[data-src]").lazy({
"bind": "event",
"attribute": "data-src",
visibleOnly: true,
threshold: 0,
enableThrottle: true,
throttle: 500,
afterLoad: function (element) {
$(element).addClass("lazy-loaded");
$(element).closest(".absolute-content-image").removeClass("lazyload-content");
setTimeout(function () {
$(element).addClass("transition");
}, 1000);
}
});
$(document).ready(function ($) {
var win = $(window);
$(".owl-carousel").on("translated.owl.carousel", function (event) {
var bounds = $(this).offset();
var viewport = {
top: win.scrollTop(),
left: win.scrollLeft()
};
viewport.bottom = viewport.top + win.height();
if (viewport.bottom > bounds.top) {
$(this).find("img[data-src]").lazy({
"bind": "event",
delay: 0,
afterLoad: function (element) {
$(element).addClass("lazy-loaded");
$(element).closest(".absolute-content-image").removeClass("lazyload-content");
setTimeout(function () {
$(element).addClass("transition");
}, 1000);
}
});
}
});
setTimeout(function () {
$("img[data-src]").each(function () {
if ($(this).is(":hidden")) {
var new_url = $(this).attr("data-src");
$(this).attr("src", new_url);
$(this).removeAttr("data-src");
$(this).addClass("lazy-loaded");
$(this).closest(".absolute-content-image").removeClass("lazyload-content");
setTimeout(function () {
$(this).addClass("transition");
}, 1000);
}
});
}, 1000);
});
});
});</script>


<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
   
    
</body><!-- Mirrored from blueskytechmage.com/ohey/en11/anzo-led-headlights-gauge-kit.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Feb 2022 19:00:33 GMT --></html>


			</html>

